{% extends 'homebase.html' %}

{% load static %}

{% block content %}
    <div class="dtl">
        <ul class="links">
            <li>Главная</li>
        </ul>
        <div class="dtlHeader">
            <span>HP Victus 15 RTX 3050 / i5-12400F / 8 GB RAM</span>
            <div class="starts">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="dtlMain">
                <div class="images">
                    <div class="topImage">
                        <img src="../static/media/victus.png" alt="">
                    </div>
                    <div class="dtlProductImages">
                        <img src="../static/media/victus.png" alt="">
                        <img src="../static/media/victus2.png" alt="">
                        <img src="../static/media/victus3.png" alt="">
                    </div>
                </div>
                <div class="dtlProductInfo">
                    <span class="dtlProductInfoTitle">Коротко о товаре</span>
                    <ul>
                        <li>
                            <span class="variant">Бренд</span>
                            <span class="variant2">HP</span>
                        </li>
                        <li>
                            <span class="variant">Диогональ экрана</span>
                            <span class="variant2">16*</span>
                        </li>
                        <li>
                            <span class="variant">Тип процессора</span>
                            <span class="variant2">Intel i5-12400F</span>
                        </li>
                        <li>
                            <span class="variant">Оперативный память(RAM)</span>
                            <span class="variant2">8 GB</span>
                        </li>
                        <li>
                            <span class="variant">Жесткий диск (SSD)</span>
                            <span class="variant2">512 GB</span>
                        </li>
                    </ul>
                    <span class="vseHarakter">Все характеристики</span>
                </div>
                <div class="dtlPriceInfo">
                    <div class="dtlPriceInfoPrice">
                        <span>6 800 000 СУМ</span>
                        <button><img src="../static/media/korzinka.svg" alt=""><span>В корзину</span></button>
                        <button>Купить в один клик</button>
                    </div>
                    <div class="dtlPriceInfoPriceInfo">
                        <div class="dtlPriceInfoPriceInfo-1">
                            <img src="../static/media/dtl1.svg" alt="">
                            <span>Быстрая доставка в течении  3-4 дней</span>
                        </div>
                        <div class="dtlPriceInfoPriceInfo-2">
                            <img src="../static/media/dtl2.svg" alt="">
                            <span>Возможность открыть товар у курьера</span>
                        </div>
                        <div class="dtlPriceInfoPriceInfo-3">
                            <img src="../static/media/dtl3.svg" alt="">
                            <span>Все товары имееют гарантию</span>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="dtlProductHaracter">
                <div class="dtlProductHaracterHeader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="dtlProductHaracterMenu">
                    <span>
                        Экран размером 16.1 дюйма с частотой обновления 
                        144 Гц (в топовых конфигурациях разрешение QHD и 165 Гц) 
                        Графика RTX 30-й серии от Nvidia и 11-е поколение процессоров 
                        от Intel или варианты на AMD Ryzen 7 5800H. Полноразмерная клавиатура 
                        с числовым блоком и отдельными клавишами стрелок Тачпад увеличенного размера
                    </span>
                </div>
            </div>
            <div class="dtlProductReqomendasia">
                <span class="dtlProductReqomendasiaTItle">Похожие товары</span>
                <div class="dtlProductReqomendasiaProducts">
                    <div class="products">
                        <div class="product">
                            <div class="productHeader">
                                <span class="new">new</span>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <div class="productImg">
                                <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                            </div>
                            <div class="productBottomInfo">
                                <span class="productTitle">
                                    HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                                </span>
                                <div class="productStar">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="productPrice">$1579</span>
                            </div>
                        </div>
                    </div>
                </div>
            
                </div>
            </div>
        </div>
    </div>
{% endblock content %}