{% comment %} {% extends 'homebase.html' %} {% endcomment %}
{% load static %}

{% block content %}
    
<!-- header -->

<header>
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{% static 'media/swiperImg.png' %}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'media/swiperImg.png' %}" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="headerCategroy">
        <div class="headerCategroyBox">
            {% for cat in category_latest %}
            <a href="{% url 'category_products' cat.id cat.slug %}">
                <div class="headerCategroyBoxCon">
                        <span>
                            {{ cat.title }}
                        </span>
                        {% if cat.image %}
                        <img style="width: 50%" src="{{cat.image.url}}" alt="">
                        {% else %}
                        <img style="width: 50%" src="{% static 'media/noimage.webp' %}" alt="">
                        {% endif %}
                </div>
            </a>
            {% endfor %}
            {% comment %} <div class="headerCategroyBoxCon">
                <span>
                    Ноутбуки
                </span>
                <img src="{% static 'media/Category.png' %}" alt="">
            </div>
            <div class="headerCategroyBoxCon">
                <span>
                    Ноутбуки
                </span>
                <img src="{% static 'media/Category.png' %}" alt="">
            </div>
            <div class="headerCategroyBoxCon">
                <span>
                    Ноутбуки
                </span>
                <img src="{% static 'media/Category.png' %}" alt="">
            </div> {% endcomment %}
        </div>
    </div>
</header>



{% endblock content %}