{% extends 'homebase.html' %}



{% load static %}

{% block content %}
    {% comment %} <div class="register">
        <form action="" method="post" >
            <div class="registerBox">
                {% csrf_token %}
                <span class="registerBoxTitle">Вход / Регистрация</span>
                <div class="registerInputs">
                    <div class="registerInputsChil">
                        <label for="">Введите имя</label>
                        <div class="registerInputsChilInput">
                            <i class="fa-regular fa-user"></i>
                            <input type="text" name="username" placeholder="Javlonbek">
                        </div>
                    </div>
                    <div class="registerInputsChil">
                        <label for="">Пароль</label>
                        <div class="registerInputsChilInput">
                            <img src="{% static 'media/lock.svg' %}" alt="">
                            <input type="password" name="password" placeholder="*********">
                        </div>
                    </div>
                </div>
                <div class="registerFooter">
                    <div class="registerFooterLoginNext">
                        <span>Создавать аккаунт</span><a href="{% url 'signup' %}">Регистрация</a>
                    </div>
                    <button type="submit">Входить</button>
                </div>
            </div>
        </form>
    </div> {% endcomment %}
    <div class="register">
        <div class="registerBox">
            <span class="registerBoxTitle">Вход / Регистрация</span>
            <form method="POST">
                {% csrf_token %}
                <div class="registerInputs">
                    <div class="registerInputsChil">
                        <label for="">Введите имя</label>
                        <div class="registerInputsChilInput">
                            <i class="fa-regular fa-user"></i>
                            <input type="text" name="username" placeholder="Javlonbek">
                        </div>
                    </div>
                    <div class="registerInputsChil">
                        <label for="">Пароль</label>
                        <div class="registerInputsChilInput">
                            <img src="{% static 'media/lock.svg' %}" alt="">
                            <input type="password" name="password" placeholder="*********">
                        </div>
                    </div>
                </div>
                <div class="registerFooter">
                    <div class="registerFooterLoginNext">
                        <span>Создавать аккаунт</span><a href="{% url 'signup' %}">Регистрация</a>
                    </div>
                    <button type="submit">Входить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}