{% extends 'homebase.html' %}
{% load static %}

{% block content %}

    <div class="register">
        <div class="registerBox">
            <span class="registerBoxTitle">Вход / Регистрация</span>
            <form action="", method="post">
                {% csrf_token %}
                <div class="registerInputs">
                    {% for field in form %}
                    <div class="registerInputsChil">
                        {{ field.label_tag }}
                        <div class="registerInputsChilInput">
                            <i class="fa-regular fa-user"></i>
                            {{ field }}
                        </div>
                        {% comment %} <p>{{ field }}</p> {% endcomment %}
                    </div>
                    {% endfor %}
                    {% comment %} <div class="registerInputsChil">
                        <label for="">Email</label>
                        <div class="registerInputsChilInput">
                            <i class="fa-regular fa-envelope"></i>
                            <input type="text" placeholder="example@gmail.com">
                        </div>
                    </div>
                    <div class="registerInputsChil">
                        <label for="">Пароль</label>
                        <div class="registerInputsChilInput">
                            <img src="{% static 'media/lock.svg' %}" alt="">
                            <input type="password" placeholder="*********">
                        </div>
                    </div> 
                    <div class="registerInputsChil">
                        <label for="">Подтвердите пароль</label>
                        <div class="registerInputsChilInput">
                            <img src="{% static 'media/lock.svg' %}" alt="">
                            <input type="password" placeholder="*********">
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="registerFooter">
                    <div class="registerFooterLoginNext">
                        <span>У меня есть аккаунт</span><a href="/login">Войти</a>
                    </div>
                    <button type="submit">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}