{% extends 'homebase.html' %}

{% block title %} Order Complated {% endblock %}


{% block content %}

    {% comment %} <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Order Complated</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Order Complated</h3>
                        </div>
                        <hr>
                        <h2>Dear  {{ user.first_name }} {{  user.last_name }}</h2>
                        <hr>
                        <h3>Your order is completed</h3>
                        <h3>Order Code : {{ ordercode }}</h3>
                        <h3>Thank You</h3>
                        <hr>

                    </div>

                </div>


            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section --> {% endcomment %}

        <!-- My Order Products -->


        <div class="myOrderProduct">
            <ul class="links">
                <li>Главная</li>
            </ul>
            <div class="myOrderProductMain">
                <div class="myOrderProductMainHeader">
                    <div class="myOrderProductMainKodData">
                        <span class="myOrderProductMainKodDataChil1">Код заказа: {{ ordercode }}</span>
                        <span class="myOrderProductMainKodDataChil2">Дата: 26-10-2022</span>
                    </div>
                    <div class="myOrderProductMainStatus">
                        <span class="myOrderProductMainStatusChil1">Статус</span>
                        <span class="myOrderProductMainStatusChil2">Доставлено</span>
                    </div>
                </div>
                <div class="myOrderProductMainProducts">
                    <div class="myOrderProductMainProduct">
                        <div class="myOrderProductMainProductHeader">
                            <span>Товар</span>
                            <span>Штук</span>
                        </div>
                        <div class="ProductsOrder">
                            {% for sp in shopcart %}
                                <div class="myorderProductMainProduct">
                                    <div class="myorderProductMainProductCon">
                                        <img src="{{sp.product.image.url}}"alt="">
                                        <div class="myorderProductMainProductInfos">
                                            <span class="myorderProductMainProductConName">{{sp.product.title}}</span>
                                            <span class="myorderProductMainProductConPrice">${{sp.product.price}}</span>
                                        </div>
                                    </div>
                                    <span class="shtuk">{{sp.quantity}}</span>
                                </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="myOrderProductMainProductInfo">
                        <span class="myOrderProductMainProductInfoTitle">Детальная информация</span>
                        <div class="myOrderProductMainProductInfoBox">
                            <ul>
                                <li>
                                    <span class="myOrderProductMainProductInfoBoxChil1">Адрес доставки:</span>
                                    <span class="myOrderProductMainProductInfoBoxChil2">Хорезм . Ургенч . A.Bahodirxon72-uy</span>
                                </li>
                                {% comment %} <li>
                                    <span class="myOrderProductMainProductInfoBoxChil1">Когда доставлено:</span>
                                    <span class="myOrderProductMainProductInfoBoxChil2">30-10-2022</span>
                                </li>
                                <li>
                                    <span class="myOrderProductMainProductInfoBoxChil1">Тип доставки:</span>
                                    <span class="myOrderProductMainProductInfoBoxChil2">Бесплатная</span>
                                </li>
                                <li>
                                    <span class="myOrderProductMainProductInfoBoxChil1">Тип оплаты:</span>
                                    <span class="myOrderProductMainProductInfoBoxChil2">**** **** **** 9123</span> {% endcomment %}
                                </li>
                            </ul>
                            <div class="myOrderProductMainProductInfoBoxPrice">
                                <span>Итого:</span><span>${{ total }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}