{% extends 'homebase.html' %}
{% load static %}

{% block content %}


    <div class="oreder">
        <ul class="links">
            <li>Главная</li>
        </ul>
        <div class="orederMain">
            <!--<Form action="" method="post">
                <div class="col-md-6">
                    {% csrf_token %}
                    <div class="billing-details">

                        <div class="section-title">
                            <h4 class="title">Shipping Details</h4>
                        </div>
                        <p><label for="id_first_name">First name:</label>
                            <input type="text" name="first_name"  value="{{ user.first_name }}" class="input" maxlength="10" required id="id_first_name"></p>
                        <p><label for="id_last_name">Last name:</label>
                            <input type="text" name="last_name"  value="{{ user.last_name }}" class="input" maxlength="10" required id="id_last_name"></p>
                        <p><label for="id_address">Address:</label>
                            <input type="text" name="address" value="{{ profile.address }}" class="input" maxlength="150" id="id_address"></p>
                        <p><label for="id_phone">Phone:</label>
                            <input type="text" name="phone"  value="{{ profile.phone }}"  class="input" maxlength="20" id="id_phone"></p>
                        <p><label for="id_city">City:</label>
                            <select name="city" class="input" id="id_city">
                                <option value="{{ profile.city }}" selected>{{ profile.city }}</option>
                                <option value="İstanbul">Istanbul</option>
                                <option value="Ankara">Ankara</option>
                                <option value="İzmir">Izmir</option>
                                <option value="Bursa">Bursa</option>
                                <option value="Konya">Konya</option>
                                <option value="Yozgat">Yozgat</option>
                            </select></p>
                        <p><label for="id_first_name">Country :</label>
                            <input type="text" name="country" class="input" id="id_country" value="{{ profile.country }}"></p>
                        <div class="pull-right">
                            <button  type="submit" class="primary-btn">Complete Order</button>
                        </div>
                    </div>
                </div>
            </Form>-->

            <Form action="" method="POST">
                {% csrf_token %}
                <div class="orederMain">
                    <div class="orderMainLeft">
                        <div class="locationKontakt">
                            <span class="locationHeader">4. Контактное имя</span>
                            <div class="locationKontaktInputs">
                                <div class="locationKontaktInputs-chil">
                                    <label for="">Имя</label>
                                    <input type="text" name="first_name" placeholder="Javlonbek">
                                </div>
                                <div class="locationKontaktInputs-chil">
                                    <label for="">Фамилия</label>
                                    <input type="text" name="last_name" placeholder="Javlonbekov">
                                </div>
                                <div class="locationKontaktInputs-chil">
                                    <label for="">Manzil</label>
                                    <input type="text" name="address" placeholder="Manzilingizni kiriting">
                                </div>
                                <div class="locationKontaktInputs-chil">
                                    <label for="">Телефон</label>
                                    <input type="text" name="phone" placeholder="+998904299019">
                                </div>
                                <div class="oblas">
                                    <label for="city">Город</label>
                                    <select name="city" name="Выберите город" id="">
                                        <option value="">Urganch</option>
                                        <option value="">Xiva</option>
                                        <option value="">Shovot</option>
                                        <option value="">Yangiariq</option>
                                        <option value="">Gurlan</option>
                                        <option value="">Hozarasp</option>
                                        <option value="">Bog'ot</option>
                                    </select>
                                </div>
                                <div class="locationKontaktInputs-chil"> 
                                    <label for="">Davlat</label>
                                    <input type="text" name="country" placeholder="davlat">
                                </div>
                                <div class="korMainPriceBoxFooterEnd">
                                    <button type="submit">Оформить заказ</button>
                                    <span>Нажимая 'Оформить заказ', я соглашаюсь с публичным договором оферты</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </Form>

        </div>
    </div>

    <div class="myOrderProduct">
        <div class="myOrderProductMain">
            <div class="myOrderProductMainHeader">
                {% comment %} <div class="myOrderProductMainKodData">
                    <span class="myOrderProductMainKodDataChil1">Код заказа: 1050017AS</span>
                    <span class="myOrderProductMainKodDataChil2">Дата: 26-10-2022</span>
                </div> {% endcomment %}
                {% comment %} <div class="myOrderProductMainStatus">
                    <span class="myOrderProductMainStatusChil1">Статус</span>
                    <span class="myOrderProductMainStatusChil2">Доставлено</span>
                </div> {% endcomment %}
            </div>
            <div class="myOrderProductMainProducts">
                <div class="myOrderProductMainProduct">
                    <div class="myOrderProductMainProductHeader">
                        <span>Maxsulotlar</span>
                        <span>Donasi</span>
                    </div>
                    <div class="ProductsOrder">
                        {% for rs in shopcart %}
                        <div class="myorderProductMainProduct">
                            <div class="myorderProductMainProductCon">
                                <img src="{{ rs.product.image.url }}"alt="">
                                <div class="myorderProductMainProductInfos">
                                    <a href="{% url 'product_detail' rs.product.id rs.product.slug %}"><span class="myorderProductMainProductConName">{{ rs.product.title }}</span></a>
                                    <span class="myorderProductMainProductConPrice">$568</span>
                                </div>
                            </div>
                            <span class="shtuk">{{ rs.quantity }}</span>
                        </div>
                        {% endfor %}
                        {% comment %} <div class="myorderProductMainProduct">
                            <div class="myorderProductMainProductCon">
                                <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5"alt="">
                                <div class="myorderProductMainProductInfos">
                                    <span class="myorderProductMainProductConName">HP Victus 15 RTX 3050...</span>
                                    <span class="myorderProductMainProductConPrice">$568</span>
                                </div>
                            </div>
                            <span class="shtuk">1</span>
                        </div> {% endcomment %}
                        
                    </div>
                </div>
                {% comment %} <div class="myOrderProductMainProductInfo">
                    <span class="myOrderProductMainProductInfoTitle">Детальная информация</span>
                    <div class="myOrderProductMainProductInfoBox">
                        <ul>
                            <li>
                                <span class="myOrderProductMainProductInfoBoxChil1">Адрес доставки:</span>
                                <span class="myOrderProductMainProductInfoBoxChil2">Хорезм . Ургенч . A.Bahodirxon72-uy</span>
                            </li>
                            <li>
                                <span class="myOrderProductMainProductInfoBoxChil1">Когда доставлено:</span>
                                <span class="myOrderProductMainProductInfoBoxChil2">30-10-2022</span>
                            </li>
                            <li>
                                <span class="myOrderProductMainProductInfoBoxChil1">Тип доставки:</span>
                                <span class="myOrderProductMainProductInfoBoxChil2">Бесплатная</span>
                            </li>
                            <li>
                                <span class="myOrderProductMainProductInfoBoxChil1">Тип оплаты:</span>
                                <span class="myOrderProductMainProductInfoBoxChil2">**** **** **** 9123</span>
                            </li>
                        </ul>
                        <div class="myOrderProductMainProductInfoBoxPrice">
                            <span>Итого:</span><span>766.000 UZS</span>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>

{% endblock content %}


