{% extends 'users/base.html' %}

{% load static %}

{% comment %} {% block content %}

<div class="register">
    <form action='{% url 'users:registration' %}' method='post'>
        {% csrf_token %}
        <div class="registerBox">
            <span class="registerBoxTitle">Вход / Регистрация</span>
            <div class="registerInputs">
                <div class="registerInputsChil">
                    <label for="{{form.username.id_for_label}}">Ismingizni kiriting</label>
                    <div class="registerInputsChilInput">
                        <i class="fa-regular fa-user"></i>
                        {{form.username}}
                    </div>
                </div>
                <div class="registerInputsChil">
                    <label for="">Familiyangizni kiriting</label>
                    <div class="registerInputsChilInput">
                        <i class="fa-regular fa-user"></i>
                        {{form.last_name}}
                    </div>
                </div>
                <div class="registerInputsChil">
                    <label for="">Telefon raqamni kiriiting</label>
                    <div class="registerInputsChilInput">
                        <i class="fa-regular fa-user"></i>
                        {{form.phone}}
                    </div>
                </div>
                <div class="registerInputsChil">
                    <label for="">Email</label>
                    <div class="registerInputsChilInput">
                        <i class="fa-regular fa-envelope"></i>
                        {{form.email}}
                    </div>
                </div>
                <div class="registerInputsChil">
                    <label for="">Пароль</label>
                    <div class="registerInputsChilInput">
                        <img src="{% static 'media/lock.svg' %}" alt="">
                        {{form.password1}}
                    </div>
                </div>
                <div class="registerInputsChil">
                    <label for="">Подтвердите пароль</label>
                    <div class="registerInputsChilInput">
                        <img src="{% static 'media/lock.svg' %}" alt="">
                        {{form.password2}}
                    </div>
                </div>
            </div>
            <div class="registerFooter">
                <div class="registerFooterLoginNext">
                    <span>У меня есть аккаунт</span><a href="/login">Войти</a>
                </div>
                <button>Зарегистрироваться</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %} {% endcomment %}


{% block content %}
{% if messages %}
    {% for message in messages %}
    
    <div class="massageBar">
        {{ message | safe }}
    </div>
    {% endfor %}
{% endif %}
<div class="register">
    <form action='{% url 'users:registration' %}' method='post'>
        {% csrf_token %}
        <div class="registerBox">
            <span class="registerBoxTitle">Вход / Регистрация</span>
            <div class="registerInputs">
                <div class="registerInputsChil">
                    <label for="">Ismingizni kiriting</label>
                    <div class="registerInputsChilInput">
                        <i class="fa-regular fa-user"></i>
                        <input name="username" type="text" placeholder="username">
                    </div>
                </div>
                <div class="registerInputsChil">
                    <label for="">Telefon raqam</label>
                    <div class="registerInputsChilInput">
                        <i class="fa-regular fa-user"></i>
                        <input name="phone_number" type="phone" placeholder="Telefon raqam">
                    </div>
                </div>
                <div class="registerFooter">
                    <div class="registerFooterLoginNext">
                        <span>У меня есть аккаунт</span><a href="/login">Войти</a>
                    </div>
                    <button>Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}