.message {
    width: 1140px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.messageMain {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.messagesBox {
    position: relative;
    max-width: 847px;
    min-height: 181px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 14px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 14px;
}

.messagesBoxDate {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B0B0B0;
}

.messagesBoxTitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.messagesBox p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #737373;   
}

.messageClose {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E81D1C;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(10px) translateY(-10px);
}

.messageClose i {
    color: #FFFFFF;
}