.register {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 62, 62, 0.4);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerBox {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 5px;
    padding-bottom: 60px;
    height: auto;
    width: 414px;
    border-radius: 8px;

}

.loginBox {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 5px;
    height: auto;
    width: 414px;
    border-radius: 8px;
}

.registerBoxTitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 50px;
}

.registerInputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 28px;
    padding-bottom: 38px;
    border-bottom: 1px solid #D9D9D9;
}

.registerInputsChil {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.registerInputsChil label {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8b8b8bcc;
    margin-bottom: 5px;
    width: 328px;
}

.registerInputsChilInput {
    width: 303px;
    height: 42px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 16px 283px 16px 16px;
    background: rgba(118, 121, 127, 0.05);
    border-radius: 12px;
}

.registerInputsChilInput i {
    border-right: 1px solid #C1C1C1;
    padding: 0px 10px;
    color: #8A8B8D;
}

.registerInputsChilInput img {
    border-right: 1px solid #C1C1C1;
    padding: 0px 10px;
}


.registerInputsChilInput input {
    border: none;
    outline: none;
    padding-left: 10px;
    flex: 1;
    background: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #141415;
}

.registerInputsChilInput input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B9B9B9;
}

.registerFooter { 
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 33px;
}

.registerFooterLoginNext {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.registerFooterLoginNext span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.registerFooterLoginNext a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4580D8;
}

.registerFooter button {
    width: 303px;
    height: 42px;
    background: #E81D1C;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.064px;
    color: #FFFFFF;
}

.telTitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #141415;
}

@media screen and (max-width: 414px) and (min-width: 360px) {
    .registerBox {
        height: 100%;
        width: 100%;
        align-items: center;
    }
}