{% load static %}

<!-- main -->

{% comment %} <main>
    <div class="mainProducts">
        <div class="mainProductsHeader">
            <div class="mainProductsHeader-title">
                <img src="{% static 'media/laptop.svg' %}" alt="">
                <span>Ноутбуки</span>
            </div>
            <button>
                <span>Смотреть еще</span>
                <img src="{% static 'media/next.svg' %}" alt="">
            </button>
        </div>


        <div class="products">
        {% for rs in products_latest %}    
            <div class="product">
                <div class="productHeader">
                    <span class="new">new</span>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="productImg">
                    <a href="{% url 'product_detail' rs.id rs.slug %}">
                        <img src="{{ rs.image.url }}" alt=""> 
                    </a>
                </div>
                <div class="productBottomInfo">
                    <a href="{% url 'product_detail' rs.id rs.slug %}">
                    <span class="productTitle">
                        {{ rs.title }}
                    </span>
                </a>
                    <div class="productStar">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="productPrice">${{ rs.price }}</span>
                </div>
            </div>
        {% endfor %}
        </div>

        
    </div>

    <!-- Monitor -->

    <div class="mainProducts">
        <div class="mainProductsHeader">
            <div class="mainProductsHeader-title">
                <img src="{% static 'media/Monitor.svg' %}" alt="">
                <span>Мониторы</span>
            </div>
            <button>
                <span>Смотреть еще</span>
                <img src="{% static 'media/next.svg' %}" alt="">
            </button>
        </div>
        <div class="products">
            <div class="product">
                <div class="productHeader">
                    <span class="new">new</span>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="productImg">
                    <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                </div>
                <div class="productBottomInfo">
                    <span class="productTitle">
                        HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                    </span>
                    <div class="productStar">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="productPrice">$1579</span>
                </div>
            </div>
        </div>
    </div>

    <!-- brend -->

    <div class="brend">
        <div class="brendCon">
            <div class="mainProductsHeader-title">
                <img src="{% static 'media/brend.svg' %}" alt="">
                <span>Бренды</span>
            </div>
        </div>
        <div class="swiperCon">
            <swiper-container class="mySwiper2" init="false">
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="brendBox">
                        <img src="{% static 'media/asus.png' %}" alt="">
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>

    <!-- thing img -->

    <div class="thing">
        <div class="mainProductsHeader-title">
            <img src="{% static 'media/thing.svg' %}" alt="">
            <span>Наша подборка для вас</span>
        </div>
        <div class="thingimages">
            <div class="thingImgLeft">
                <img src="{% static 'media/thing1.png' %}" alt="" class="thingImg-1">
                <img src="{% static 'media/thing2.png' %}" alt="" class="thingImg-2">
            </div>
            <div class="thingImgMain">
                <img src="{% static 'media/thing3.png' %}" alt="" class="thingImg-3">
                <img src="{% static 'media/thing4.png' %}" alt="" class="thingImg-4">
            </div>
            <div class="thingImgRigth">
                <img src="{% static 'media/thing5.png' %}" alt="" class="thingImg-5">
                <img src="{% static 'media/thing6.png' %}" alt="" class="thingImg-6">
            </div>
        </div>
    </div>

    <!-- Aksesuar -->

    <div class="mainProducts">
        <div class="mainProductsHeader">
            <div class="mainProductsHeader-title">
                <img src="{% static 'media/aksesuar.svg' %}" alt="">
                <span>Аксессуары</span>
            </div>
            <button>
                <span>Смотреть еще</span>
                <img src="{% static 'media/next.svg' %}" alt="">
            </button>
        </div>
        <div class="products">
            <div class="product">
                <div class="productHeader">
                    <span class="new">new</span>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="productImg">
                    <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                </div>
                <div class="productBottomInfo">
                    <span class="productTitle">
                        HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                    </span>
                    <div class="productStar">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="productPrice">$1579</span>
                </div>
            </div>
        </div>
    </div>

    <!-- app progarm info -->

    <div class="mobileApp">
        <div class="mobileAppCon">
            <div class="mobileAppLeft">
                <span class="mobileAppTitle">Tez kunda DataShop mobil ilovasi</span>
                <div class="mobileAppDownoladBtns">
                    <button><img src="{% static 'media/googleplasy.png' %}" alt=""></button>
                    <button><img src="{% static 'media/App Store.png' %}" alt=""></button>
                </div>
            </div>
            <div class="mobileAppRight">
                <img src="{% static 'media/MacBook Pro 16.png' %}" alt="">
            </div>
        </div>
    </div>

</main> {% endcomment %}

<main>
    <div class="mainProducts">
        <div class="mainProductsHeader">
            <div class="mainProductsHeader-title">
                <img src="{% static 'media/laptop.svg' %}" alt="">
                <span>Noutbuklar</span>
            </div>
            <button>
                <a href="category/1/noutbuk"><span>Yana ko'rish</span></a>
                <img src="{% static 'media/next.svg' %}" alt="">
            </button>
        </div>
        <div class="products">
            {% for prod in products_latest %}
            <div class="product">
                <div class="productHeader">
                    <span class="new">yangi</span>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="productImg">
                    {% if prod.image %}
                    <a href="{% url 'product_detail' prod.id prod.slug%}">
                        <img src="{{ prod.image.url }}" alt="">
                    </a>
                    {% endif %}
                </div>
                <div class="productBottomInfo">
                    <a href="{% url 'product_detail' prod.id prod.slug%}">
                        <span class="productTitle">
                            {{prod.title| truncatewords:5}}
                        </span>
                    </a>
                    <div class="productStar">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="productPrice">${{ prod.price }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% for one in noutbuk %}
    <a href="{% url 'category_products' one.id one.slug%}">
    <div class="headerCategroyBoxConRes" style="background: linear-gradient(180deg, {{one.bg_color}} 0%, #AC44A2 100%);">
        <span>
            {{one.title |truncatewords:2}}
        </span>
        {% if one.image %}
        <img src="{{ one.image.url }}" alt="">
        {% endif %}
    </div>
    </a>
    {% endfor %}
    <!-- Monitor -->

    <div class="mainProducts">
        <div class="mainProductsHeader">
            <div class="mainProductsHeader-title">
                <img src="{% static 'media/Monitor.svg' %}" alt="">
                <span>Monitorlar</span>
            </div>
            <button>
                <a href="category/3/monitor"><span>Yana ko'rish</span></a>
                <img src="{% static 'media/next.svg' %}" alt="">
            </button>
        </div>
        <div class="products">
            {% for mon in laptops_product %}
                <div class="product">
                    <div class="productHeader">
                        <span class="new">yangi</span>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="productImg">
                        <a href="{% url 'product_detail' mon.id mon.slug %}">
                            <img src="{{ mon.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="productBottomInfo">
                        <a href="{% url 'product_detail' mon.id mon.slug %}">
                        <span class="productTitle">
                            {{mon.title | truncatewords:5}}
                        </span>
                        </a>
                        <div class="productStar">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <span class="productPrice">$1579</span>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% for one in smartphone %}
    <a href="{% url 'category_products' one.id one.slug%}">
        <div class="headerCategroyBoxConRes" style="background: linear-gradient(180deg, {{one.bg_color}} 0%, #AC44A2 100%);">
            <span>
                {{one.title}}
            </span>
            {% if one.image %}
            <img src="{{ one.image.url }}" alt="">
            {% endif %}
        </div>
    </a>
    {% endfor %}

    <!-- brend -->

    <div class="brend">
        <div class="brendCon">
            <div class="mainProductsHeader-title">
                <img src="{% static 'media/brend.svg' %}" alt="">
                <span>Brendlar</span>
            </div>
        </div>
        <div class="swiperCon">
            <swiper-container class="mySwiper2" init="false">
                {% comment %} <swiper-slide class="nonSwip">
                    <div class="brendBox">
                        <img style="width: 50% "src="{{brand.image.url}}" alt="">
                    </div>
                </swiper-slide> {% endcomment %}
                {% for brand in brand_img %}
                <swiper-slide>
                    <a href="{% url 'all_products' %}">
                        <div class="brendBox">
                            <img style="width: 60% " src="{{brand.image.url}}" alt="">
                        </div>
                    </a>
                </swiper-slide>
                {% endfor %}
            </swiper-container>
        </div>
    </div>

    {% for one in monitor %}
    <a href="{% url 'category_products' one.id one.slug%}">
    <div class="headerCategroyBoxConRes" style="background: linear-gradient(180deg, {{one.bg_color}} 0%, #AC44A2 100%);">
        <span>
            {{one.title}}
        </span>
        {% if one.image %}
        <img src="{{ one.image.url }}" alt="">
        {% endif %}
    </div>
    </a>
    {% endfor %}

    <!-- thing img -->

    <div class="thing">
        <div class="mainProductsHeader-title">
            <img src="{% static 'media/thing.svg' %}" alt="">
            <span>Siz uchun bizning tanlovimiz</span>
        </div>
        <div class="thingimages">
            <div class="thingImgLeft">
                <img src="{% static 'media/thing1.png' %}" alt="" class="thingImg-1">
                <img src="{% static 'media/thing2.png' %}" alt="" class="thingImg-2">
            </div>
            <div class="thingImgMain">
                <img src="{% static 'media/thing3.png' %}" alt="" class="thingImg-3">
                <img src="{% static 'media/thing4.png' %}" alt="" class="thingImg-4">
            </div>
            <div class="thingImgRigth">
                <img src="{% static 'media/thing5.png' %}" alt="" class="thingImg-5">
                <img src="{% static 'media/thing6.png' %}" alt="" class="thingImg-6">
            </div>
        </div>
    </div>

    <!-- Aksesuar -->

    <div class="mainProducts">
        <div class="mainProductsHeader">
            <div class="mainProductsHeader-title">
                <img src="{% static 'media/aksesuar.svg' %}" alt="">
                <span>Aksesuarlar</span>
            </div>
            <button>
                <a href="category/4/aksesuar/"><span>Yana ko'rish</span></a>
                <img src="{% static 'media/next.svg' %}" alt="">
            </button>
        </div>
        <div class="products">
            <div class="product">
                <div class="productHeader">
                    <span class="new">new</span>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="productImg">
                    <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                </div>
                <div class="productBottomInfo">
                    <span class="productTitle">
                        HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                    </span>
                    <div class="productStar">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="productPrice">$1579</span>
                </div>
            </div>
        </div>
    </div>

    <!-- app progarm info -->

    <div class="mobileApp">
        <div class="mobileAppCon">
            <div class="mobileAppLeft">
                <span class="mobileAppTitle">Tez kunda DataShop mobil ilovasi</span>
                <div class="mobileAppDownoladBtns">
                    <button><img src="{% static 'media/googleplasy.png' %}" alt=""></button>
                    <button><img src="{% static 'media/App Store.png' %}" alt=""></button>
                </div>
            </div>
            <div class="mobileAppRight">
                <img src="{% static 'media/MacBook Pro 16.png' %}" alt="">
            </div>
        </div>
    </div>

</main>


<!-- bottom moblie version -->

<div class="bottomBar">
    <ul>
        <li>
            <img src="{% static 'media/home.svg' %}" alt="">
            <span>Asosiy</span>
        </li>
        <li>
            <img src="{% static 'media/star.svg' %}" alt="">
            <span>Tanlangan</span>
        </li>
        <li>
            <img src="{% static 'media/shop.svg' %}" alt="">
            <span>Savat</span>
        </li>
        <li>
            <img src="{% static 'media/user.svg' %}" alt="">
            <span>Kabinet</span>
        </li>
    </ul>
</div>