{% load static %}


<!-- footer -->

<footer>
    <div class="footerCon">
        <div class="footerHeader">
            <img src="{% static 'media/datashoplogo.png' %}" alt="">
        </div>
        <div class="footerMain">
            <div class="footerAdres">
                <div class="chil">
                    <label class="chil1">Телефон поддержки</label>
                    <span class="chil2">+998 (99) 999 01 00</span>
                </div>
                <div class="chil">
                    <label class="chil1">Адрес</label>
                    <span class="chil2">Даритал, Ургенч</span>
                </div>
                <div class="chil">
                    <label class="chil1">Email</label>
                    <span class="chil2">datashop@gmail.com</span>
                </div>
            </div>
            <div class="footerServices">
                <ul>
                    <li>О компании</li>
                    <li>Вакансии</li>
                    <li>Возврат и обмен товара</li>
                    <li>Условия рассрочки</li>
                    <li>Помощь</li>
                    <li>Доставка</li>
                </ul>
                <ul>
                    <li>О компании</li>
                    <li>Вакансии</li>
                    <li>Возврат и обмен товара</li>
                    <li>Условия рассрочки</li>
                    <li>Помощь</li>
                    <li>Доставка</li>
                </ul>
            </div>
            <div class="FooterPay">
                <span class="footerPayTitle">Способы оплаты</span>
                <div class="payes">
                    <button><img src="{% static 'media/uzcard.svg' %}" alt=""></button>
                    <button><img src="{% static 'media/uzcard.svg' %}" alt=""></button>
                    <button><img src="{% static 'media/uzcard.svg' %}" alt=""></button>
                    <button><img src="{% static 'media/uzcard.svg' %}" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>






