{% load static %}


<!-- footer -->

<footer>
    <div class="footerCon">
        <div class="footerHeader">
            <img src="{% static 'media/datashoplogo.png' %}" alt="">
        </div>
        <div class="footerMain">
            <div class="footerAdres">
                <div class="chil">
                    <label class="chil1">Qo'llab-quvvatlash:</label>
                    <span class="chil2">+998 (91) 995-88-86</span>
                </div>
                <div class="chil">
                    <label class="chil1">Address</label>
                    <span class="chil2">Darital, Urganch</span>
                </div>
                <div class="chil">
                    <label class="chil1">Email</label>
                    <span class="chil2">datashopuz@gmail.com</span>
                </div>
            </div>
            <div class="footerServices">
                <ul>
                    <li>Kompaniya haqida</li>
                    <li>Vaqansiya</li>
                    <li>Qayta yuborish</li>
                    <li>Nasiya Sharti</li>
                    <li>Yordam</li>
                    <li>Yetkazib berish</li>
                </ul>
                <ul>
                    <li>Kompaniya haqida</li>
                    <li>Vaqansiya</li>
                    <li>Qayta yuborish</li>
                    <li>Nasiya Sharti</li>
                    <li>Yordam</li>
                    <li>Yetkazib berish</li>
                </ul>
            </div>
            <div class="FooterPay">
                <span class="footerPayTitle">To'lov usullari</span>
                <div class="payes">
                    <button><img src="{% static 'media/uzcard.svg' %}" alt=""></button>
                    <button><img src="{% static 'media/uzcard.svg' %}" alt=""></button>
                    <button><img src="{% static 'media/uzcard.svg' %}" alt=""></button>
                    <button><img src="{% static 'media/uzcard.svg' %}" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>






