{% extends 'homebase.html' %}
{% comment %} {% block title %}{{ catdata.title }} Products{% endblock %}
{% block description %} {{ catdata.description }} {% endblock %} {% endcomment %}
{% block keywords %} {{ category.keywords }} {% endblock %}

{% load static %}

{% block content %}
<div class="categoryList">
    <ul class="links">
        <li>Asosiy</li>
        {% comment %} <li>{{ catdata.title }}</li> {% endcomment %}
    </ul>
    <div class="categoryListHeader">
        <div class="categoryListHeaderTitle">
            <span class="categoryListHeaderTitle-chil">Ноутбуки HP</span>
            <span class="categoryListHeaderTitle-chil2">36 товаров</span>
        </div>
        <div class="categoryListHeaderRandomBtns">
            <button>HP Victus 15</button>
            <button>Asus TUF 4R</button>
            <button>Asus TUF 4R</button>
        </div>

    </div>
    <div class="categoryListMain">
        <div class="categoryListMainFilter">
            <span class="priceFilterTitle">Цена(сум)</span>
            <fieldset class="filter-price">
                <div class="price-field">
                    <input type="range" min="100" max="500" value="100" id="lower">
                    <input type="range" min="100" max="500" value="500" id="upper">
                </div>
                <div class="categoryListMainFilterInputs">
                    <div class="categoryListMainFilterInputs-chil">
                        <label for="">от</label>
                        <input type="text" value="100">
                    </div>
                    <div class="categoryListMainFilterInputs-chil">
                        <label for="">до</label>
                        <input type="text" value="1000">
                    </div>
                </div>
            </fieldset>
            <div class="filterRanges">
                <div class="filterRangesBrend">
                    {% for cat in category %}
                    <!-- <a href="{% url 'category_products' cat.id cat.slug %}"> -->
                    <div class="filterRangesBrendHeader">
                        <span>{{ cat.title }}</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <!-- </a> -->
                    {% if cat.children %}
                    {% for ct in cat.children.all %}
                    <a href="{% url 'category_products' ct.id ct.slug %}">
                        <div class="filterRangesBrendInfo">
                            {% comment %} <input type="text" name="gender"> {% endcomment %}
                            <span class="kategoryChiled">{{ ct.title }}</span>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="filterRangesBrend">
                    <div class="filterRangesBrendHeader">
                        <span>Видеокарта</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>Nvidia</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>AMD</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>Intel Graphics</span>
                    </div>
                </div>
                <div class="filterRangesBrend">
                    <div class="filterRangesBrendHeader">
                        <span>Оперативный память</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>4 GB</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>8 GB</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>16 GB</span>
                    </div>
                </div>
                <div class="filterRangesBrend">
                    <div class="filterRangesBrendHeader">
                        <span>SSD</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>256 GB</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>512 GB</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>1 TB</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="categoryListMainProduct">
            <div class="categoryListMainProductHeader">
                <div class="filterClickBtns">
                    <button class="filterClickBtnsBtn"><span>HP</span><i class="fa-solid fa-circle-xmark"></i></button>
                    <button class="filterClickBtnsBtn"><span>Nvidia</span><i
                            class="fa-solid fa-circle-xmark"></i></button>
                    <button class="filterClickBtnsBtn"><span>30</span><i class="fa-solid fa-circle-xmark"></i></button>
                    <div class="daleteVse">
                        <button>Очистить все</button>
                    </div>
                </div>
                <select>
                    <option value="">Сортировать по</option>
                </select>
            </div>
            <div class="categoryListMainProductMain">

                {% for rs in products %}
                <div class="product">
                    <div class="productHeader">
                        <span class="new">new</span>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="productImg">
                        <a href="{% url 'product_detail' rs.id rs.slug %}">
                            <img src="{{ rs.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="productBottomInfo">
                        <a href="{% url 'product_detail' rs.id rs.slug %}">
                            <span class="productTitle">
                                {{ rs.title | truncatewords:5 }}
                            </span>
                        </a>
                        <div class="productStar">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <span class="productPrice">${{ rs.price }}</span>

                        <div class="categoryListMain">

                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>
</div>


{% endblock content %}
<!-- {% block script %} -->
<script>

    const filterRangesBrendInfo = document.querySelector('.filterRangesBrendInfo')
    console.log(filterRangesBrendInfo.textContent);
    filterRangesBrendInfo.classList.add('none')

</script>
<!-- {% endblock script %} -->