{% load static %}



<!-- Navbar -->

<nav>
    <div class="navtop">
        <div class="navtopCon">
            <div class="navtopLocation">
                <span>Adres: Urganch, Darital, 2-etaj</span>
            </div>
            <div class="navtopTelefon">
                <span>Biz bilan bog'lanish: (91) 995-88-86</span>
                <div>
                    <img src="{% static 'media/uzflag.svg' %}" alt="">
                    <select class="til">
                        <option value="UZB">UZB</option>
                        {% comment %} <option value="RUS">RUS</option> {% endcomment %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="navBottom">
        <div class="navBottomCon">
            <a href="{% url 'home' %}">
                <div class="logo">
                    <img src="{% static 'media/datashoplogo.png' %}" alt="">
                </div>
            </a>
            <div class="category">
                <button id="kategoryBtn"><img src="{% static 'media/categoryLogo.svg' %}" alt="">Kategoriya</button>
            </div>
            <div class="navSerach">
                <input type="text" placeholder="Qidirish...">
                <button><img src="{% static 'media/search.svg' %}" alt=""></button>
            </div>
            <div class="navbottomBtns">
                {% load myapptags %}
                <a href="{% url 'shopcart'%}">
                    {% shopcartcount user.id as count %}
                    <span class="korzinkaConunt">{{ count }}</span>
                    <button>
                        <img src="{% static 'media/korzinka.svg' %}" alt="">
                        <span>Savat</span>
                    </button>
                </a>
                <a href="{% url 'saqlanganlar' %}">
                    <button>
                        <img src="{% static 'media/izbrene.svg' %}" alt="">
                        <span>Tanlangan</span>
                    </button>
                </a>
                {% if user.is_authenticated %}
                <button class="profilBtn">
                    <img src="{% static 'media/person.svg' %}" alt="">
                    <span>{{ user.username }}</span>
                </button>
                {% else %}
                <button>
                    <img src="{% static 'media/person.svg' %}" alt="">
                    <a href="{% url 'login' %}"><span class='textLogin'>Kirish</span></a>
                </button>
                {% endif %}
            </div>

            <!-- profil  -->

            <div class="profilBox">
                <span class="profilBoxName">{{ user.username }}</span>
                <div class="profilBoxBtns">
                    <a href="{% url 'user_index' %}"><button><img src="{% static 'media/person.svg' %}" alt=""><span>Shaxshiy kabinet</span></button></a>
                    <button><img src="{% static 'media/dastafka2.svg' %}" alt=""><span>Mening
                            Buyurtmalarim</span></button>
                    <button><img src="{% static 'media/bell.svg' %}" alt=""><span>Xabarlar</span></button>
                    <button><img src="{% static 'media/close.svg' %}" alt=""><a
                            href="{% url 'logout' %}"><span>Chiqish</span></a></button>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- mobile version navbar -->

<div class="resNav">
    <div class="resNavTop">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'media/datashoplogo.png' %}" alt="">
            </a>
        </div>
        <div class="resNavFlag">
            <i class="fa-solid fa-phone"></i>
            <div>
                <img src="{% static 'media/uzflag.svg' %}" alt="">
                <select class="til">
                    <option value="UZB">UZB</option>
                    <!-- <option value="RUS">RUS</option> -->
                </select>
            </div>
        </div>
    </div>
    <div class="navBottomCon">
        <div class="logo none">
            <img src="{% static 'media/datashoplogo.png' %}" alt="">
        </div>
        <div class="category">
            <button class="kategoryBtn" id="kategoryBtn"><img src="{% static 'media/categoryLogo.svg' %}"
                    alt=""></button>
        </div>
        <div class="navSerach">
            <input type="text" placeholder="Введите запрос...">
            <button><img src="{% static 'media/search.svg' %}" alt=""></button>
        </div>
    </div>
</div>

{% comment %} {% load mptt_tags %} {% endcomment %}

<div class="kategory">
    <div class="kategoryCon">
        <div class="kategorymain">
            <button class="kategoryProductsName title1 hover1"><span class="productName"><img
                        src="{% static 'media/laptop.svg' %}" alt=""> <span>Geymerlar uchun</span> </span><i
                    class="fa-solid fa-angle-right"></i></button>
            <button class="kategoryProductsName title2 hover2"><span class="productName"><img
                        src="{% static 'media/laptop.svg' %}" alt=""> <span>Noutbuk , kampyuter</span> </span><i
                    class="fa-solid fa-angle-right"></i></button>
            <button class="kategoryProductsName title3 hover3"><span class="productName"><img
                        src="{% static 'media/laptop.svg' %}" alt=""> <span>Gajed va aksesuar</span> </span><i
                    class="fa-solid fa-angle-right"></i></button>
            <button class="kategoryProductsName title4 hover4"><span class="productName"><img
                        src="{% static 'media/laptop.svg' %}" alt=""> <span>Televizor , foto-video</span> </span><i
                    class="fa-solid fa-angle-right"></i></button>
        </div>
        <div class="kategoryMain_text">

            <div class="geymerlar">
                <a href="/category/34/geymerlar-uchun/"><span class="mainTitle">Geymerlar uchun <i
                            class="fa-solid fa-angle-right"></i></span></a>
                <div class="geymerlar2">
                    <div class="kategoryText">
                        <a href="/category/9/geymerlar-uchun-garnituralar/">
                            <p class="kategoryTitle">Geymerlar uchun garnituralar</p>
                        </a>
                        <a href="/category/10/hyperx/"><span class="Titletext">HyperX</span></a>
                        <a href=""><span class="Titletext">SteelSeries</span></a>
                        <a href=""><span class="Titletext">Plantronics</span></a>
                        <a href=""><span class="Titletext">Corsair</span></a>
                        <a href=""><span class="Titletext">Razer</span></a>
                        <a href=""><span class="Titletext">Edifier</span></a>
                        <a href=""><span class="Titletext">AVerMedia</span></a>
                        <a href=""><span class="Titletext">Asus</span></a>
                        <a href=""><span class="Titletext">2E</span></a>
                        <a href=""><span class="Titletext">2E Gaming</span></a>
                        <a href=""><span class="Titletext">Hoco</span></a>
                        <a href=""><span class="Titletext">Trust</span></a>
                        <a href=""><span class="Titletext">Redragon</span></a>
                        <a href=""><span class="Titletext">Bloody</span></a>
                        <a href=""><span class="Titletext">Remax</span></a>
                        <a href=""><span class="Titletext">Kakusiga</span></a>
                        <a href=""><span class="Titletext">Rapoo</span></a>
                        <a href=""><span class="Titletext">Yesido</span></a>
                        <a href=""><span class="Titletext">Borofone</span></a>
                        <a href=""><span class="Titletext">Awei</span></a>
                        <a href=""><span class="Titletext">Onikuma</span></a>
                        <a href=""><span class="Titletext">Celebrat</span></a>
                        <a href=""><span class="Titletext">NIA</span></a>
                        <a href=""><span class="Titletext">Elgato</span></a>
                        <a href=""><span class="Titletext">Shinecon</span></a>
                        <a href=""><span class="Titletext">Lenovo</span></a>
                        <a href=""><span class="Titletext">HP</span></a>
                        <a href=""><span class="Titletext">Logitech</span></a>
                    </div>

                    <div class="kategoryText">
                        <p class="kategoryTitle">Geymerlar uchun sichqoncha</p>
                        <span class="Titletext">SteelSeries</span>
                        <span class="Titletext">Razer</span>
                        <span class="Titletext">Defender</span>
                        <span class="Titletext">Asus</span>
                        <span class="Titletext">HyperX</span>
                        <span class="Titletext">Logitech</span>
                        <span class="Titletext">Redragon</span>
                        <span class="Titletext">Lenovo</span>
                        <span class="Titletext">2E</span>
                        <span class="Titletext">Corsair</span>
                        <span class="Titletext">MSI</span>
                        <span class="Titletext">Xtrfy</span>
                        <span class="Titletext">Rapoo</span>
                        <span class="Titletext">Trust</span>
                        <span class="Titletext">Ducky</span>
                        <span class="Titletext">Dream Machines</span>
                        <span class="Titletext">2E Gaming</span>
                        <span class="Titletext">Dell</span>
                        <span class="Titletext">Cougar</span>
                        <span class="Titletext">Bloody</span>
                        <span class="Titletext">Gamdias</span>
                        <span class="Titletext">Glorious</span>
                        <span class="Titletext">Meetion</span>
                        <span class="Titletext">Delux</span>
                    </div>

                    <div class="kategoryText">
                        <p class="kategoryTitle">O‘yin akustikasi</p>
                        <span class="Titletext">Kisonli</span>
                        <span class="Titletext">Cougar</span>
                        <p class="kategoryTitle">Geymerlar uchun aksessuarlar va gadjetlar</p>
                        <span class="Titletext">2E Gaming</span>
                        <span class="Titletext">Xiaomi</span>

                        <p class="kategoryTitle">Geymerlar uchun optika</p>
                        <span class="Titletext">Xtrfy</span>
                        <span class="Titletext">Razer</span>
                        <span class="Titletext">Cougar</span>
                        <span class="Titletext">2E Gaming</span>
                        <span class="Titletext">SteelSeries</span>
                        <span class="Titletext">Elgato</span>
                        <span class="Titletext">Meetion</span>
                        <span class="Titletext">Keychron</span>
                        <span class="Titletext">HyperX</span>

                    </div>

                    <div class="kategoryText">
                        <p class="kategoryTitle">Geymerlar uchun klaviaturalar</p>
                        <span class="Titletext">HyperX</span>
                        <span class="Titletext">HP</span>
                        <span class="Titletext">SteelSeries</span>
                        <span class="Titletext">Ducky</span>
                        <span class="Titletext">Razer</span>
                        <span class="Titletext">Xtrfy</span>
                        <span class="Titletext">Asus</span>
                        <span class="Titletext">Rapoo</span>
                        <span class="Titletext">Logitech</span>
                        <span class="Titletext">Redragon</span>
                        <span class="Titletext">Varmilo</span>
                        <span class="Titletext">Keychron</span>
                        <span class="Titletext">2E Gaming</span>
                        <span class="Titletext">Dell</span>
                        <span class="Titletext">2E</span>
                        <span class="Titletext">iMice</span>
                        <span class="Titletext">Cougar</span>
                        <span class="Titletext">A4Tech</span>
                        <span class="Titletext">Defender</span>
                        <span class="Titletext">1st Player</span>
                        <span class="Titletext">Genius</span>
                        <span class="Titletext">Trust</span>
                        <span class="Titletext">Corsair</span>
                        <span class="Titletext">Akko</span>
                        <span class="Titletext">Bloody</span>
                    </div>

                    <div class="kategoryText">
                        <p class="kategoryTitle">O‘yin uchun kursilar</p>
                        <span class="Titletext">Trust</span>
                        <span class="Titletext">2E Gaming</span>
                        <span class="Titletext">Alpha Gamer</span>
                        <span class="Titletext">Gamdias</span>
                        <span class="Titletext">Meetion</span>
                        <span class="Titletext">Tesoro</span>
                        <p class="kategoryTitle">O‘yin uchun gilamchalar</p>
                        <span class="Titletext">HyperX</span>
                        <span class="Titletext">Cooler Master</span>
                        <span class="Titletext">SteelSeries</span>
                        <span class="Titletext">Razer</span>
                        <span class="Titletext">HP</span>
                        <span class="Titletext">Corsair</span>
                        <span class="Titletext">Cougar</span>
                        <span class="Titletext">Asus</span>
                        <span class="Titletext">2E Gaming</span>
                        <span class="Titletext">Bloody</span>
                        <span class="Titletext">Varmilo</span>
                        <span class="Titletext">Acer</span>
                        <p class="kategoryTitle">Geymerlar uchun monitor</p>
                        <span class="Titletext">Xiaomi</span>
                        <span class="Titletext">LG</span>
                        <span class="Titletext">AOC</span>
                    </div>
                </div>
            </div>
            <div class="noutbuk">
                <div class="kategoryText">
                    <a href="category/3/noutbuklar">
                        <p class="kategoryTitle">Noutbuklar</p>
                    </a>
                    {% for cat in cat_noutbuklar %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    {% comment %} <span class="Titletext">HP</span>
                    <span class="Titletext">Dream Machines</span>
                    <span class="Titletext">Asus</span>
                    <span class="Titletext">Dell</span>
                    <span class="Titletext">Acer</span>
                    <span class="Titletext">Honor</span>
                    <span class="Titletext">Lenovo</span>
                    <span class="Titletext">Razer</span>
                    <span class="Titletext">MSI</span>
                    <span class="Titletext">Huawei</span>
                    <span class="Titletext">Samsung</span>
                    <span class="Titletext">GigaByte</span> {% endcomment %}


                </div>

                <div class="kategoryText">
                    <p class="kategoryTitle">Kompyuter qurilmalari</p>
                    {% for cat in kompyuter_qurilmalari %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    {% comment %} <span class="Titletext">Videokartalar</span>
                    <span class="Titletext">Kompyuter platalari</span>
                    <p class="kategoryTitle">Qattiq disklar</p>
                    <span class="Titletext">SSD to‘plagichlar</span>
                    <span class="Titletext">Ichki qattiq disklar</span>
                    <span class="Titletext">Tashqi qattiq disklar</span>
                    <span class="Titletext">Kompyuter sovutish tizimlari</span>
                    <span class="Titletext">Operativ xotira</span>
                    <span class="Titletext">Kompyuter korpuslari</span>
                    <span class="Titletext">Flesh xotiralari</span> {% endcomment %}
                </div>

                <div class="kategoryText">
                    <p class="kategoryTitle">Noutbuk uchun sumka va ryukzaklar</p>
                    {% for cat in nb_uchun_sumka_va_ryukzaklar %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    {% comment %} <span class="Titletext">Xiaomi</span>
                    <p class="kategoryTitle">Lenovo</p>
                    <span class="Titletext">Tucano</span>
                    <span class="Titletext">Asus</span>
                    <span class="Titletext">Dell</span>
                    <span class="Titletext">2E</span>
                    <span class="Titletext">HP</span>
                    <span class="Titletext">Acer</span>
                    <span class="Titletext">Baseus</span> {% endcomment %}
                </div>


                <div class="kategoryText">
                    <p class="kategoryTitle">Monoblok</p>
                    {% for cat in monoblok %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    <p class="kategoryTitle">Proektorlar</p>
                    {% for cat in proektorlar %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    <p class="kategoryTitle">Stol usti kompyuterlari</p>
                    {% for cat in stol_usti_kompyuterlari %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                </div>



                <div class="kategoryText">
                    <p class="kategoryTitle">Monitorlar</p>

                    {% for cat in monitorlar %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    {% comment %} <span class="Titletext">HP</span>
                    <span class="Titletext">Dream Machines</span>
                    <span class="Titletext">Asus</span>
                    <span class="Titletext">Dell</span>
                    <span class="Titletext">Acer</span>
                    <span class="Titletext">Honor</span>
                    <span class="Titletext">Lenovo</span>
                    <span class="Titletext">Razer</span>
                    <span class="Titletext">MSI</span>
                    <span class="Titletext">Huawei</span>
                    <span class="Titletext">Samsung</span>
                    <span class="Titletext">GigaByte AOC</span>
                    <span class="Titletext">AOC</span>
                    <span class="Titletext">BenQ Zowie</span>
                    <span class="Titletext">MSI</span>
                    <span class="Titletext">Pixel</span>
                    <span class="Titletext">Acer</span>
                    <span class="Titletext">BenQ</span>
                    <span class="Titletext">2E</span>
                    <span class="Titletext">My Pro</span>
                    <span class="Titletext">Dahua</span> {% endcomment %}
                </div>

                <div class="kategoryText">
                    <p class="kategoryTitle">Klaviatura va Sichqoncha</p>
                    {% for cat in klaviatura_va_sichqoncha %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    {% comment %} <span class="Titletext">Sichqonchalar</span>
                    <span class="Titletext">Sichqoncha uchun gilamchalar</span>
                    <span class="Titletext">Klaviatura va sichqoncha to‘plamlari</span>
                    <span class="Titletext">Quvvatlanish bloki</span>
                    <span class="Titletext">Kompyuter uchun quloqchinlar</span> {% endcomment %}
                    <p class="kategoryTitle">Ofis jihozlari</p>
                    {% for cat in ofis_jihozlari %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    <p class="kategoryTitle">Printerlar va KFMlar uchun moslamalar</p>
                    {% for cat in printerlar_va_kfmlar %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                </div>

                <div class="kategoryText">
                    <p class="kategoryTitle">Tizim uskunalari</p>
                    {% for cat in tizim_uskunalari %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    {% comment %} <span class="Titletext">TP-Link</span>
                    <span class="Titletext">Xiaomi</span>
                    <span class="Titletext">Asus</span>
                    <span class="Titletext">Netis</span>
                    <span class="Titletext">Mercusys</span>
                    <span class="Titletext">Huawei</span>
                    <span class="Titletext">Deepcool</span>
                    <span class="Titletext">MikroTik</span>
                    <span class="Titletext">Earldom</span>
                    <span class="Titletext">Earldom</span>
                    <span class="Titletext">Yesido</span>
                    <span class="Titletext">Joyroom</span>
                    <span class="Titletext">Bvot</span>
                    <span class="Titletext">D-Link</span>
                    <span class="Titletext">Synology</span>
                    <span class="Titletext">Wavlink</span>
                    <span class="Titletext">LB-Link</span>
                    <span class="Titletext">IP-COM</span>
                    <span class="Titletext">Anker</span>
                    <span class="Titletext">Acer</span> {% endcomment %}
                </div>

                <div class="kategoryText">
                    <p class="kategoryTitle">Monitorlar uchun kronshteyn va tagkursilar</p>
                    {% for cat in monitorlar_uchun_kronshteyn %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    {% comment %} <span class="Titletext">Dell</span>
                    <span class="Titletext">2E Gaming</span>
                    <span class="Titletext">Hoco</span>
                    <span class="Titletext">Yesido</span>
                    <span class="Titletext">Razer</span>
                    <span class="Titletext">Awei</span>
                    <span class="Titletext">Mikuso</span> {% endcomment %}
                    <p class="kategoryTitle">Videogaolish</p>
                    {% for cat in videogaolish %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                    <p class="kategoryTitle">Boshqa aksessuarlar</p>
                    {% for cat in boshqa_aksessuarlar %}
                    {% for i in cat.children.all %}
                    <a href="{{ i.get_absolute_url }}"><span class="Titletext">{{i.title}}</span></a>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="telefon">
                <div class="kategoryText">
                    <p class="kategoryTitle">Geymerlar uchun klaviaturalar</p>
                    <span class="Titletext">HyperX</span>
                    <span class="Titletext">HP</span>
                    <span class="Titletext">SteelSeries</span>
                    <span class="Titletext">Ducky</span>
                    <span class="Titletext">Razer</span>
                    <span class="Titletext">Xtrfy</span>
                    <span class="Titletext">Asus</span>
                    <span class="Titletext">Rapoo</span>
                    <span class="Titletext">Logitech</span>
                    <span class="Titletext">Redragon</span>
                    <span class="Titletext">Varmilo</span>
                    <span class="Titletext">Keychron</span>
                    <span class="Titletext">2E Gaming</span>
                    <span class="Titletext">Dell</span>
                    <span class="Titletext">2E</span>
                    <span class="Titletext">iMice</span>
                    <span class="Titletext">Cougar</span>
                    <span class="Titletext">A4Tech</span>
                    <span class="Titletext">Defender</span>
                    <span class="Titletext">1st Player</span>
                    <span class="Titletext">Genius</span>
                    <span class="Titletext">Trust</span>
                    <span class="Titletext">Corsair</span>
                    <span class="Titletext">Akko</span>
                    <span class="Titletext">Bloody</span>
                </div>


                <div class="kategoryText">
                    <p class="kategoryTitle">Planshetlar</p>
                    <span class="Titletext">Samsung</span>
                    <span class="Titletext">PocketBook</span>
                    <span class="Titletext">Xiaomi</span>
                    <span class="Titletext">Huion</span>
                    <span class="Titletext">Lenovo</span>
                    <p class="kategoryTitle">Telefonlar</p>
                    <span class="Titletext">Radiotelefonlar</span>
                    <span class="Titletext">Simli telefonlar</span>
                    <span class="Titletext">Ratsiyalar</span>
                </div>

                <div class="kategoryText">
                    <p class="kategoryTitle">Smart Watches</p>
                    <span class="Titletext">Xiaomi</span>
                    <span class="Titletext">Huawei</span>
                    <span class="Titletext">Haylou</span>
                    <span class="Titletext">Amazfit</span>
                    <span class="Titletext">Pandora</span>
                    <span class="Titletext">Honor</span>
                    <span class="Titletext">Apple</span>
                    <span class="Titletext">Samsung</span>
                    <span class="Titletext">Kuplace</span>
                    <span class="Titletext">Hoco</span>
                    <span class="Titletext">Porodo</span>
                    <span class="Titletext">Smart</span>
                    <span class="Titletext">2E Accessories</span>
                    <span class="Titletext">Haino Teko</span>
                    <span class="Titletext">XO</span>
                    <span class="Titletext">Microwear</span>
                    <span class="Titletext">inkax</span>
                    <span class="Titletext">Tecno</span>
                    <span class="Titletext">Wonlex</span>
                    <span class="Titletext">Green lion</span>
                </div>
                <div class="kategoryText">
                    <p class="kategoryTitle">Smartfonlar va gadjetlar uchun aksessuarlar</p>
                    <span class="Titletext">Power bank</span>
                    <span class="Titletext">Garnituralar</span>
                    <span class="Titletext">Kabellar</span>
                    <span class="Titletext">G‘iloflar va himoya oynalari</span>
                    <span class="Titletext">Zaryadlovchi qurilmalar</span>
                    <span class="Titletext">Xotira kartalari</span>
                    <span class="Titletext">Speaker</span>
                    <span class="Titletext">Selfie Stick</span>
                    <span class="Titletext">Boshqa aksessuarlar va gadjetlar</span>
                    <span class="Titletext">Telefonlar va gadjetlar uchun batareyalar va akkumulyatorlar</span>
                    <span class="Titletext">Smartfon va planshet uchun ish stoli ushlagichlari</span>
                </div>


                <div class="kategoryText">
                    <p class="kategoryTitle">Smartfonlar</p>
                    <span class="Titletext">Tecno Mobile</span>
                    <span class="Titletext">Xiaomi</span>
                    <span class="Titletext">Vivo</span>
                    <span class="Titletext">Samsung</span>
                    <span class="Titletext">Infinix</span>
                    <span class="Titletext">Realme</span>
                    <span class="Titletext">ZTE</span>
                    <span class="Titletext">Apple</span>
                    <span class="Titletext">Alcatel</span>
                    <span class="Titletext">Honor</span>
                    <span class="Titletext">Blackview</span>
                    <span class="Titletext">Huawei</span>
                    <span class="Titletext">Tecno</span>

                </div>


                <div class="kategoryText">
                    <p class="kategoryTitle">Tugmali telefonlar</p>
                    <span class="Titletext">Samsung</span>
                    <span class="Titletext">Nokia</span>
                    <span class="Titletext">Olmio</span>
                    <span class="Titletext">Novey</span>
                    <span class="Titletext">LG</span>
                    <span class="Titletext">Infennix</span>
                    <span class="Titletext">Kechaoda</span>
                    <span class="Titletext">Corn</span>
                    <span class="Titletext">Gionee</span>
                    <span class="Titletext">Motorola</span>
                </div>
            </div>

            <div class=" televizor">
                <div class="kategoryText">
                    <p class="kategoryTitle">Televizorlar</p>
                    <span class="Titletext">Artel</span>
                    <span class="Titletext">Samsung</span>
                    <span class="Titletext">Shivaki</span>
                    <span class="Titletext">Vesta</span>
                    <span class="Titletext">Sony</span>
                    <span class="Titletext">Premier</span>
                    <span class="Titletext">LG</span>
                    <span class="Titletext">Avalon</span>
                    <span class="Titletext">Moonx</span>
                    <span class="Titletext">Ziffler</span>
                    <span class="Titletext">Hisense</span>
                    <span class="Titletext">Immer</span>
                    <span class="Titletext">Toshiba</span>
                    <span class="Titletext">Noname</span>
                    <span class="Titletext">Xiaomi</span>
                    <span class="Titletext">TCL</span>
                    <span class="Titletext">Skyworth</span>
                    <p class="kategoryTitle">Audio</p>
                    <span class="Titletext">Musiqa sistemalari</span>
                    <span class="Titletext">Akustika</span>
                    <span class="Titletext">Mikrofonlar</span>
                </div>

                <div class="kategoryText">
                    <p class="kategoryTitle">Videotexnika</p>
                    <span class="Titletext">Uy kinoteatri</span>
                    <span class="Titletext">DVD-pleer</span>
                    <span class="Titletext">Xavfsizlik kameralari</span>
                    <span class="Titletext">Video uskunalar uchun aksessuarlar</span>
                    <p class="kategoryTitle">Media Player</p>
                    <span class="Titletext">Xiaomi</span>
                    <span class="Titletext">Yandeks</span>
                    <p class="kategoryTitle">Diktofonlar</p>
                    <span class="Titletext">Sony</span>
                    <p class="kategoryTitle">Foto, video</p>
                    <span class="Titletext">Foto va videokameralar uchun aksessuarlar</span>
                </div>

                <div class="kategoryText">
                    <p class="kategoryTitle">O‘yin konsollari</p>
                    <span class="Titletext">PlayStation</span>
                    <span class="Titletext">Geympadlar</span>
                    <span class="Titletext">Virtual ko‘zoynaklar</span>
                    <span class="Titletext">PlayStation uchun o‘yinlar</span>
                    <p class="kategoryTitle">Kronshteynlar</p>
                    <span class="Titletext">Rosso</span>
                    <span class="Titletext">Smart</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="mobilKategoryy">
        <div class="mobilTitlee telefomnn">Telefon</div>
        <div class="mobilTelefon">ouehdfiljkdsoxkl</div>
    </div> -->
</div>


<div class="closeKategory"></div>

<script>telefomnn
    const categoryProducts = document.querySelectorAll('.categoryProducts')
    let lastSelected = null

    categoryProducts.forEach(categoryProductt => {
        const btn = categoryProductt.querySelector('.categoryProductsName')
        const ul = categoryProductt.querySelector('.categoryProduct')

        btn.onclick = () => {
            ul.classList.toggle('no')

            if (!ul.classList.contains('no')) {
                if (lastSelected != null) {
                    lastSelected.classList.add('no')
                }
                lastSelected = ul
            }
        }
    })


    // const title1 = document.querySelectorAll('.telefomnn')
    // const text1 = document.querySelectorAll('.mobilTelefon')


    // text1.style.display = none

</script>