{% load static %}
    


    <!-- Navbar -->

    <nav>
        <div class="navtop">
            <div class="navtopCon">
                <div class="navtopLocation">
                    <span>Адрес: Urganch, Darital, 2-этаж</span>
                </div>
                <div class="navtopTelefon">
                    <span>Телефон поддержки: (99) 900 10 10</span>
                    <div>
                        <img src="{% static 'media/uzflag.svg' %}" alt="">
                        <select class="til">
                            <option value="UZB">UZB</option>
                            <option value="RUS">RUS</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="navBottom">
            <div class="navBottomCon">
                <a href="{% url 'home' %}">
                    <div class="logo">
                        <img src="{% static 'media/datashoplogo.png' %}" alt="">
                    </div>
                </a>
                <div class="category"> 
                    <button id="kategoryBtn"><img src="{% static 'media/categoryLogo.svg' %}" alt="">Категория</button>
                </div>
                <div class="navSerach">
                    <input type="text" placeholder="Введите запрос...">
                    <button><img src="{% static 'media/search.svg' %}" alt=""></button>
                </div>
                <div class="navbottomBtns">
                <a href="{% url 'shopcart'%}">
                    <button>
                        <img src="{% static 'media/korzinka.svg' %}" alt="">
                        <span>Корзина</span>
                    </button>
                </a>
                    <button>
                        <img src="{% static 'media/izbrene.svg' %}" alt="">
                        <span>Избранное</span>
                    </button>
                    {% if user.is_authenticated %}
                    <button class="profilBtn">
                        <img src="{% static 'media/person.svg' %}" alt="">
                        <span>{{ user.username }}</span>
                    </button>
                    {% else %}
                    <button>
                        <img src="{% static 'media/person.svg' %}" alt="">
                        <a  href="{% url 'login' %}"><span class='textLogin'>Kirish</span></a>
                    </button>
                    {% endif %}
                </div>

                <!-- profil  -->

                <div class="profilBox">
                    <span class="profilBoxName">{{ user.username }}</span>
                    <div class="profilBoxBtns">
                        <button><img src="{% static 'media/person.svg' %}" alt=""><span>Личный кабинет</span></button>
                        <button><img src="{% static 'media/dastafka2.svg' %}" alt=""><span>Мои заказы</span></button>
                        <button><img src="{% static 'media/bell.svg' %}" alt=""><span>Уведомления</span></button>
                        <button><img src="{% static 'media/close.svg' %}" alt=""><a href="{% url 'logout' %}"><span>Выйти</span></a></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- mobile version navbar -->
    
    <div class="resNav">
        <div class="resNavTop">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'media/datashoplogo.png' %}" alt="">
                </a>
            </div>
            <div class="resNavFlag">
                <i class="fa-solid fa-phone"></i>
                <div>
                    <img src="{% static 'media/uzflag.svg' %}" alt="">
                    <select class="til">
                        <option value="UZB">UZB</option>
                        <option value="RUS">RUS</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="navBottomCon">
            <div class="logo none">
                <img src="{% static 'media/datashoplogo.png' %}" alt="">
            </div>
            <div class="category">
                <button class="kategoryBtn" id="kategoryBtn"><img src="{% static 'media/categoryLogo.svg' %}" alt=""></button>
            </div>
            <div class="navSerach">
                <input type="text" placeholder="Введите запрос...">
                <button><img src="{% static 'media/search.svg' %}" alt=""></button>
            </div>
        </div>
    </div>

    {% load mptt_tags %}
    
    <div class="kategory">
        <div class="kategoryCon">
            <ul class="kategoryLinks">
                
                {% comment %} {% recursetree category %} {% endcomment %}
                <li>
                {% comment %} <a href="{% url 'category_products' node.id node.slug %}"> {% endcomment %}
                    <div class="kategoryLinksLeft">
                        <img src="{% static 'media/laptop.svg' %}" alt="">
                        <span>{{node.title}}</span>
                    </div>
                {% comment %} </a> {% endcomment %}
                <i class="fa-solid fa-chevron-right"></i>
                    
                </li>
                
                {% comment %} {% endrecursetree %} {% endcomment %}
                

            </ul>
            <div class="kategoryRight">
                <span class="kategoryRightTitle">Ноутбуки</span>
                <div class="kategoryInfos">
                    {% comment %} {% recursetree category %} {% endcomment %}
                    {% for child in node.children.all %}
                    <ul class="kategoryInfo">
                            <a href="{% url 'category_products' child.id child.slug %}">
                                <span>{{ child.title }}</span>
                            </a>
                            {% comment %} {{ children }} {% endcomment %}
                            {% comment %} {% if not node.is_leaf_node %} {% endcomment %}
                            {% recursetree child.children.set %}
                                <a href="{% url 'category_products' node.id node.slug %}">
                                    <li>{{node.title}}</li>
                                </a>
                            {% endrecursetree %}
                            {% comment %} {% endif %} {% endcomment %}
                            {% comment %}<li>Apple</li>
                            <li>MSI</li>
                            <li>Dell</li>
                            <li>Lenovo</li> {% endcomment %}
                        </ul>
                    {% endfor %}
                    {% comment %} {% endrecursetree %} {% endcomment %}
                        {% comment %} <ul class="kategoryInfo">
                            <span>Кулеры для ноутбуков</span>
                            <li>1 Кулерный</li>
                            <li>2 Кулерные</li>
                            <li>Пластиковые</li>
                            <li>Металлические</li>
                        </ul>
                        <ul class="kategoryInfo">
                            <span>Сумки для ноутбуков</span>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="closeKategory"></div> 