{% extends 'homebase.html' %}

{% block content %}

    <!-- My Orders -->

    <div class="myOrder">
        <ul class="links">
            <li>Главная</li>
        </ul>
        <div class="myOrderMain">
            <div class="myProfilBox">
                <a href=""><img src="../media/profilIcons/profilOrder.svg" alt=""><span>Персональные данные</span></a>
                <a href=""><img src="../media/profilIcons/moyZAkazRedORder.svg" alt=""><span style="color: #E81D1C;">Мои заказы</span></a>
                <a href=""><img src="../media/profilIcons/bellOrder.svg" alt=""><span>Уведомления</span></a>
            </div>
            <table>
                <tr class="tableChil1">
                    <td>Заказ #</td>
                    <td>Статус</td>
                    <td class="tableData">Дата покупки</td>
                    <td>Итог</td>
                </tr>
                <tr class="tableChil2"> 
                    <td class="tableChil2Code">1050017AS</td>
                    <td class="tableChil2Status" >В процессе</td>
                    <td class="tableData">Oct 12, 2020</td>
                    <td class="tableData" id="tabelPrice">$500.00</td>
                    <td><i class="fa-solid fa-arrow-right"></i></td>
                </tr>
                <tr class="tableChil2">
                    <td class="tableChil2Code">1050017AS</td>
                    <td class="tableChil2Status">В процессе</td>
                    <td class="tableData">Oct 12, 2020</td>
                    <td class="tableData" id="tabelPrice">$500.00</td>
                    <td><i class="fa-solid fa-arrow-right"></i></td>
                </tr>
                <tr class="tableChil2">
                    <td class="tableChil2Code">1050017AS</td>
                    <td class="tableChil2Status">В процессе</td>
                    <td class="tableData">Oct 12, 2020</td>
                    <td class="tableData" id="tabelPrice">$500.00</td>
                    <td><i class="fa-solid fa-arrow-right"></i></td>
                </tr>
            </table>
        </div>
    </div>

{% endblock content %}
