{% extends 'homebase.html' %}

{% load static %}

{% block content %}
<!-- <div class="dtl">
    <ul class="links">
        <li>Главная</li>
        <li>{{product.category  }}</li>
    </ul>
    <div class="dtlHeader">
        <span>{{ product.title }}</span>
        <div class="starts">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <span class="starsCount">4 отзывов</span>
        </div>
    </div>
    <div class="dtlMain">
        <div class="images">
            <div class="topImage">
                <img  src="{{ product.image.url }}" alt="">
            </div>
            {% comment %} <div class="dtlProductImages">
                <img src="{% static 'media/victus.png' %}" alt="">
                <img src="{% static 'media/victus2.png' %}" alt="">
                <img src="{% static 'media/victus3.png' %}" alt="">
            </div> {% endcomment %}
            <div class="dtlProductImages">
                {% for rs in images %}
                    <img src="{{ rs.image.url }}" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="dtlProductInfo">
            <span class="dtlProductInfoTitle">Коротко о товаре</span>
            <ul>
                <li>
                    <span class="variant">Бренд:</span>
                    <span class="variant2">HP</span>
                </li>
                <li>
                    <span class="variant">Диогональ экрана:</span>
                    <span class="variant2">16*</span>
                </li>
                <li>
                    <span class="variant">Тип процессора:</span>
                    <span class="variant2">Intel i5-12400F</span>
                </li>
                <li>
                    <span class="variant">Оперативный память(RAM):</span>
                    <span class="variant2">8 GB</span>
                </li>
                <li>
                    <span class="variant">Жесткий диск (SSD):</span>
                    <span class="variant2">512 GB</span>
                </li>
            </ul>
            <span class="vseHarakter">Все характеристики</span>
        </div>
        <form action="/order/addtoshopcart/{{ product.id }}" method="post">
            <div class="dtlPriceInfo">
                {% csrf_token %}
                <div class="dtlPriceInfoPrice">
                    <span>${{ product.price }}</span>
                    <button class="dtlPriceInfoPriceBtn1"><img src="{% static 'media/korzinkaWhite.svg' %}" alt=""><span>В корзину</span></button>
                    <button class="dtlPriceInfoPriceBtn2">Купить в один клик</button>
                </div>
                <div class="dtlPriceInfoPriceInfo">
                    <div class="dtlPriceInfoPriceInfo-1">
                        <img src="{% static 'media/dtl1.svg' %}" alt="">
                        <span>Быстрая доставка в течении 3-4 дней</span>
                    </div>
                    <div class="dtlPriceInfoPriceInfo-1">
                        <img src="{% static 'media/dtl2.svg' %}" alt="">
                        <span>Возможность открыть товар у курьера</span>
                    </div>
                    <div class="dtlPriceInfoPriceInfo-1">
                        <img src="{% static 'media/dtl3.svg' %}" alt="">
                        <span>Все товары имееют гарантию</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="dtlProductHaracter">
        <div class="dtlProductHaracterHeader">
            <span class="apisane">Описание</span>
            <span>Характеристики</span>
            <span>Отзывы</span>
        </div>
        <div class="dtlProductHaracterMenu">
            <span>
                Экран размером 16.1 дюйма с частотой обновления
                144 Гц (в топовых конфигурациях разрешение QHD и 165 Гц)
                Графика RTX 30-й серии от Nvidia и 11-е поколение процессоров
                от Intel или варианты на AMD Ryzen 7 5800H. Полноразмерная клавиатура
                с числовым блоком и отдельными клавишами стрелок Тачпад увеличенного размера
            </span>
        </div>
    </div>
    <div class="dtlProductReqomendasia">
        <span class="dtlProductReqomendasiaTItle">Похожие товары</span>
        <div class="dtlProductReqomendasiaProducts">
            <div class="product">
                <div class="productHeader">
                    <span class="new">new</span>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="productImg">
                    <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                </div>
                <div class="productBottomInfo">
                    <span class="productTitle">
                        HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                    </span>
                    <div class="productStar">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="productPrice">$1579</span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="dtl">
    <ul class="links">
        <li><a href="/">Asosiy</a></li>
        /<li><a href="/category/{{ product.category.id }}/{{ product.category.slug }}">{{ product.category.title }}</a></li>
        /<li>{{ product.title | truncatewords:3 }}</li>

    </ul>
    <div class="dtlHeader">
        <span>{{ product.title }}</span>
        <div class="starts">
            <i class="fa fa-star{% if product.avaregereview < 1%}-o empty{% endif%}"></i>
            <i class="fa fa-star{% if product.avaregereview < 2%}-o empty{% endif%}"></i>
            <i class="fa fa-star{% if product.avaregereview < 3%}-o empty{% endif%}"></i>
            <i class="fa fa-star{% if product.avaregereview < 4%}-o empty{% endif%}"></i>
            <i class="fa fa-star{% if product.avaregereview < 5%}-o empty{% endif%}"></i>
            <span class="starsCount textRes">{{ product.avaregereview |stringformat:".2f"}} отзывов</span>
        </div>
    </div>
    <div class="dtlMain">
        <div class="images">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                class="swiper mySwiper2 topImgCon">
                <div class="swiper-wrapper">
                    {% if variant.image_id > 0 %}

                        <div class="swiper-slide topIMg">
                            <img src="{{ variant.image }}" />
                        </div>
                        
                        {% else %}
                        
                        <div class="swiper-slide topIMg">
                            <img src="{{ product.image.url }}" />
                        </div>
                        
                        {% endif %}
                        
                        {% for rs in images %}
                        
                        <div class="swiper-slide topIMg">
                            <img src="{{ rs.image.url }}" />
                        </div>
                        
                        {% endfor %} 

                        

                </div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper imgBottomCon">
                <div class="swiper-wrapper">

                    {% for rs in images %}
                        <div class="bottomIMg">
                            <img src="{{rs.image.url}}" />
                        </div>
                    {% endfor %}

                    {% comment %} <div class=" bottomIMg">
                        <img src="{% static 'media/victus2.png' %}" />
                    </div> {% endcomment %}
                    {% comment  %}<div class="swiper-slide bottomIMg">
                        <img src="{% static 'media/victus3.png' %}" />
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="dtlProductInfo" >
            <span class="dtlProductInfoTitle">Maxsulot xaqida </span>
            {% comment %} <ul>
                <li>
                    <span class="variant">Бренд:</span>
                    <span class="variant2">HP</span>
                </li>
                <li>
                    <span class="variant">Диогональ экрана:</span>
                    <span class="variant2">16*</span>
                </li>
                <li>
                    <span class="variant">Тип процессора:</span>
                    <span class="variant2">Intel i5-12400F</span>
                </li>
                <li>
                    <span class="variant">Оперативный память(RAM):</span>
                    <span class="variant2">8 GB</span>
                </li>
                <li>
                    <span class="variant">Жесткий диск (SSD):</span>
                    <span class="variant2">512 GB</span>
                </li>
            </ul> {% endcomment %}
            <ul>{{product.detail | safe  }}</ul>
            <span class="vseHarakter">Все характеристики</span>
        </div>
        <div class="dtlPriceInfo">

            {% if product.variant != 'None'%}
                <form action="/order/addtoshopcart/{{ product.id }}" method="post"  id="addchart-form">
                    {% csrf_token %}
                    <input type="hidden" name="variantid" id="variantid" value="{{ variant.id }}">
                    <span class="text-uppercase">QTY: </span>
                    <input class="input" name="quantity" type="number" value="1" min="1" max="{{ product.amount }}">
                    <div class="dtlPriceInfoPrice">
                        <span>${{ variant.price }}</span>
                        <span class="text-uppercase">QTY: </span>
                        <input class="input" name="quantity" type="number" value="1" min="1" max="{{ variant.amount }}">
                        <button type="submit" {% if variant.quantity < 1  %} disabled {% endif %} class="dtlPriceInfoPriceBtn1">
                            <img src="{% static 'media/korzinkaWhite.svg' %}" alt="">
                            <span>Savatga</span>
                        </button>
                        <button class="dtlPriceInfoPriceBtn2">Купить в один клик</button>
                    </div>
                </form>

            {% else %}
                <form action="/order/addtoshopcart/{{ product.id }}" method="post" id="addchart-form">
                    {% csrf_token %}
                    <div class="dtlPriceInfoPrice">
                        <span>${{ product.price }}</span>
                        <button type="submit" disabled class="dtlPriceInfoPriceBtn1">
                            <img src="{% static 'media/korzinkaWhite.svg' %}" alt="">
                            <span>Savatga</span>
                        </button>
                        {% comment %} <div class="count">
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                            <span class="countNumber">0</span>
                            <button class="minus"><i class="fa-solid fa-minus"></i></button>
                        </div> {% endcomment %}
                    </div>
                </form>

            {% endif %}



            <div class="dtlPriceInfoPriceInfo">
                <div class="dtlPriceInfoPriceInfo-1">
                    <img src="{% static 'media/dtl1.svg' %}" alt="">
                    <span>Быстрая доставка в течении 3-4 дней</span>
                </div>
                <div class="dtlPriceInfoPriceInfo-1">
                    <img src="{% static 'media/dtl2.svg' %}" alt="">
                    <span>Возможность открыть товар у курьера</span>
                </div>
                <div class="dtlPriceInfoPriceInfo-1">
                    <img src="{% static 'media/dtl3.svg' %}" alt="">
                    <span>Все товары имееют гарантию</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dtlProductHaracter">
        <div class="dtlProductHaracterHeader">
            <span class="apisane">Описание</span>
            <span>Характеристики</span>
            <span>Отзывы</span>
        </div>
        <div class="dtlProductHaracterMenu">
            <span>
                Экран размером 16.1 дюйма с частотой обновления
                144 Гц (в топовых конфигурациях разрешение QHD и 165 Гц)
                Графика RTX 30-й серии от Nvidia и 11-е поколение процессоров
                от Intel или варианты на AMD Ryzen 7 5800H. Полноразмерная клавиатура
                с числовым блоком и отдельными клавишами стрелок Тачпад увеличенного размера
            </span>
        </div>
    </div>
    <div class="dtlProductReqomendasia">
        <span class="dtlProductReqomendasiaTItle">Похожие товары</span>
        <div class="dtlProductReqomendasiaProducts">
            <div class="product">
                <div class="productHeader">
                    <span class="new">new</span>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="productImg">
                    <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                </div>
                <div class="productBottomInfo">
                    <span class="productTitle">
                        HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                    </span>
                    <div class="productStar">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="productPrice">$1579</span>
                </div>
            </div>
            <div class="product">
                <div class="productHeader">
                    <span class="new">new</span>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="productImg">
                    <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                </div>
                <div class="productBottomInfo">
                    <span class="productTitle">
                        HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                    </span>
                    <div class="productStar">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="productPrice">$1579</span>
                </div>
            </div>
        </div>
    </div>
</div>



{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

<!-- Initialize Swiper -->

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>
{% endblock  %}
{% endblock content %}