{% extends 'homebase.html' %}
{% load static %}


{% block content %}

    <!-- saqlanganlar -->

    <div class="izb">
        <ul class="links">
            <li>Asosiy</li>
        </ul>
        <div class="izbMain">
            <div class="izbMainHeader">
                <div class="izbMainHeaderLeft">
                    <span>Tanlangan</span>
                    <button>Очистить все</button>
                </div>
                <select name="" id="">
                    <option value="">Сначала по дешевле</option>
                    <option value="">Сначала по дороже</option>
                    <option value="">Новые товары</option>
                    <option value="">Старые товары</option>
                </select>
            </div>
            <div class="izbMainProducts">
                {% for sq in saqlangan %}
                    <div class="product rel">
                        <button class="messageClose"><i class="fa-solid fa-xmark"></i></button>
                        <div class="productImg">
                            <img src="{{sq.image.url}}" alt="">
                        </div>
                        <div class="productBottomInfo">
                            <span class="productTitle">
                                {{sq.title}}
                            </span>
                            <div class="productStar">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <span class="productPrice">${{sq.price}}</span>
                        </div>
                    </div>
                {% endfor %}
                {% comment %} <div class="product rel">
                    <button class="messageClose"><i class="fa-solid fa-xmark"></i></button>
                    <div class="productImg">
                        <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                    </div>
                    <div class="productBottomInfo">
                        <span class="productTitle">
                            HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                        </span>
                        <div class="productStar">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <span class="productPrice">$1579</span>
                    </div>
                </div>
                <div class="product rel">
                    <button class="messageClose"><i class="fa-solid fa-xmark"></i></button>
                    <div class="productImg">
                        <img src="https://dlcdnwebimgs.asus.com/gain/6FE37E07-B41F-4238-81D8-433B425405C5" alt="">
                    </div>
                    <div class="productBottomInfo">
                        <span class="productTitle">
                            HP Victus 15 RTX 3050 / i5 12400f / 512 GB SSD..
                        </span>
                        <div class="productStar">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <span class="productPrice">$1579</span>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>


{% endblock content %}