{% extends 'products/base.html' %}

{% block title %} Shop Cart {% endblock %}

{% block content %}

{% if baskets %}

<div class="korzinka">
    <ul class="links">
        <li>Главная</li>
    </ul>
    <div class="korHeader">
        <span class="korHeader-Chil1">Корзина</span>
        <span class="korHeader-Chil2">Товаров в корзине ({{baskets.total_quantity}})</span>
    </div>
    <div class="korMain">
        <div class="korMainProducts">
            <div class="korMainProductsHeader">
                <span>Детали продуктов</span>
                <div class="korMainProductsHeaderRight">
                    <span>Количество</span>
                    <span>Цена</span>
                </div>
            </div>
            {% for basket in baskets %}
            <div class="korProducts">
                    <div class="korProduct">
                        <div class="korProductInfo">
                            <img width="1000" heigh="1000" src="{{ basket.product.image.url }}" alt="">
                            <div>
                                <span class="korProductInfoName">{{basket.product.name}}</span>
                                <span class="korProductInfoCategory">{{ basket.category }}</span>
                                <span class="myorderProductMainProductConPrice">${{ basket.product.price }}</span>
                                <a href="{% url 'products:basket_remove' basket.id %}">
                                    <button>Удалить</button>
                                </a>
                            </div>
                        </div>
                        <div class="korProductCount">
                            <button>-</button>
                            <span><input type="number" value="{{basket.quantity}}"></span>
                            <button>+</button>
                        </div>
                        <div class="korProductPrice">
                            <span>${{basket.sum}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
        <div class="korMainPriceBox">
            <div class="korMainPriceBoxTite">
                <span class="korMainPriceBoxTiteInfo">Итого:</span>
                <span class="korMainPriceBoxTitePrice">${{baskets.total_sum}}</span>
            </div>
            <ul class="korMainPriceBoxPriceInfo">
                <li>
                    <span class="korMainPriceBoxPriceInfoName">Промокод:</span>
                    <span class="korMainPriceBoxPriceInfoPrice">0 сум</span>
                </li>
                <li>
                    <span class="korMainPriceBoxPriceInfoName">Сумма доставки:</span>
                    <span class="korMainPriceBoxPriceInfoPrice">0 сум</span>
                </li>
                <li>
                    <span class="korMainPriceBoxPriceInfoName">Сумма товара:</span>
                    <span class="korMainPriceBoxPriceInfoPrice">0 сум</span>
                </li>
            </ul>
            <div class="korMainPriceBoxFooter">
                <div class="korMainPriceBoxFooterDastafka">
                    <span class="korMainPriceBoxFooterDastafka-chil1">Доставка:</span>
                    <span class="korMainPriceBoxFooterDastafka-chil2">Курьером</span>
                </div>
                <div class="korMainPriceBoxFooterEnd">
                    <button>Оформить заказ</button>
                    <span>Нажимая 'Оформить заказ', я соглашаюсь с публичным договором оферты</span>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}


    <!-- korzinka pustoy -->

    <div class="korzinkaPustoy">
        <ul class="links">
            <li>Asosiy</li>
        </ul>
        <div class="korzinkaPustoyMain">
            <span>Savat</span>
            <div class="korzinkaPustoyInfo">
                <span>Savatda hechnima yo'q</span>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}