{% extends 'products/base.html' %}


{% load static %}

{% block content %}
<div class="categoryList">
    <ul class="links">
        <li>Главная</li>
    </ul>
    <div class="categoryListHeader">
        <div class="categoryListHeaderTitle">
            <span class="categoryListHeaderTitle-chil">Ноутбуки HP</span>
            <span class="categoryListHeaderTitle-chil2">36 товаров</span>
        </div>
        <div class="categoryListHeaderRandomBtns">
            <button>HP Victus 15</button>
            <button>Asus TUF 4R</button>
            <button>Asus TUF 4R</button>
        </div>

    </div>
    <div class="categoryListMain">
        <div class="categoryListMainFilter">
            <div class="filterTop">
                <p>Фильтры</p>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <span class="priceFilterTitle">Цена(сум)</span>
            <fieldset class="filter-price">
                <div class="price-field">
                    <input type="range" min="100" max="500" value="100" id="lower">
                    <input type="range" min="100" max="500" value="500" id="upper">
                </div>
                <div class="categoryListMainFilterInputs">
                    <div class="categoryListMainFilterInputs-chil">
                        <label for="">от</label>
                        <input type="text" value="100">
                    </div>
                    <div class="categoryListMainFilterInputs-chil">
                        <label for="">до</label>
                        <input type="text" value="1000">
                    </div>
                </div>
            </fieldset>
            <div class="filterRanges">
                {% for cat in categories %}
                <div class="filterRangesBrend">
                    
                    <div class="filterRangesBrendHeader">
                        <a href="{% url 'products:category' cat.id %}"><span>{{cat.name}}</span></a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    {% for chill in cat.children.all %}
                    <div class="filterRangesBrendInfo">
                        <input type="radio" name="brand" id="hp">
                        <a href="{% url 'products:category' chill.id %}"><span for="hp">{{chill.name}}</span></a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                
                {% comment %} <div class="filterRangesBrend">
                    <div class="filterRangesBrendHeader">
                        <span>Видеокарта</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>Nvidia</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>AMD</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>Intel Graphics</span>
                    </div>
                </div>
                <div class="filterRangesBrend">
                    <div class="filterRangesBrendHeader">
                        <span>Оперативный память</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>4 GB</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>8 GB</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>16 GB</span>
                    </div>
                </div>
                <div class="filterRangesBrend">
                    <div class="filterRangesBrendHeader">
                        <span>SSD</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>256 GB</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>512 GB</span>
                    </div>
                    <div class="filterRangesBrendInfo">
                        <input type="radio">
                        <span>1 TB</span>
                    </div>
                </div> {% endcomment %}
            </div>
            
        </div>
        <div class="vh"></div>
        <div class="categoryListMainProduct">
            <div class="categoryListMainProductHeader">
                <div class="filterClickBtns">
                    <button class="filterClickBtnsBtn"><span>HP</span><i class="fa-solid fa-circle-xmark"></i></button>
                    <button class="filterClickBtnsBtn"><span>Nvidia</span><i
                            class="fa-solid fa-circle-xmark"></i></button>
                    <button class="filterClickBtnsBtn"><span>30</span><i class="fa-solid fa-circle-xmark"></i></button>
                    <div class="daleteVse">
                        <button>Очистить все</button>
                    </div>
                </div>
                <select>
                    <option value="">Сортировать по</option>
                </select>
            </div>
            <div class="categoryListMainProducResponsive">
                <div class="SliderItem click">
                    <img src="../media/sliders.svg" alt="" class="slider">
                    <p class="sliderTitle">Фильтры</p>
                </div>
                <div class="SliderItem">
                    <img src="../media/align-center.svg" alt="" class="slider">
                    <p class="sliderTitle">Сортировать по</p>
                </div>
            </div>
            <div class="categoryListMainProductMain">
                {% for product in products %}
                    <div class="product">
                        <div class="productHeader">
                            <span class="new">new</span>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="productImg">
                            <img src="{{product.image.url}}" alt="">
                        </div>
                        <div class="productBottomInfo">
                            <span class="productTitle">
                                {{product.name}}
                            </span>
                            <div class="productStar">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <span class="productPrice">${{ product.price }}</span>

                            <div class="categoryListMain">

                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="pagination">
                <a href="{% if products.has_previous %}{% url 'products:paginator' products.previous_page_number %}{% else %} # {% endif %}" class="prev">Prev</a>
                {% for page in products.paginator.page_range %}
                    <a href="{% url 'products:paginator' page %}" class="page ">{{ page }}</a>
                {% endfor %}
                <a href="{% if products.has_next %} {% url 'products:paginator' products.next_page_number %} {% else %} # {% endif %}" class="next">Next</a>
            </div> 

        </div>
        </div>

</div>


{% endblock content %}

<!-- {% block script %} -->
<script>


    // i va span elementlariga murojaat qilamiz
var icon = document.querySelector(".fa-solid");
var brand = document.querySelector("span");

// ikona bosilganda
icon.addEventListener("click", function() {
    if (brand.style.display === "none") {
        brand.style.display = "inline";
    } else {
        brand.style.display = "none";
    }
});


    {% comment %} const filterRangesBrendInfo = document.querySelector('.filterRangesBrendInfo')
    console.log(filterRangesBrendInfo.textContent);
    filterRangesBrendInfo.classList.add('none')
     {% endcomment %}
</script>
<!-- {% endblock script %} -->