@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.swiper {
  width: 1140px;
  margin: auto;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.swiper-slide img {
  display: flex;
  min-width: 1140px;
  max-width: 1140px;
  max-height: 361px;
  min-height: 361px;
  object-fit: cover;
  border-radius: 15px;
}

.swiper-container {
  background-color: #E81D1C;
}

.mySwiper2 {
  width: 1140px;
  height: 248px;
  margin: auto;
  background-color: #E81D1C;
}

.swiper-backface-hidden swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.none {
  display: none;
}
.overflow {
  overflow: hidden;
}

@media screen and (max-width:414px) and (min-width: 360px) {
  
}