header {
    margin-top: 22px;
}

.headerCategroy {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.headerCategroyBox {
    width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerCategroyBoxCon {
    border-radius: 14px;
    width: 275px;
    height: 125px;
    /* background: linear-gradient(180deg, #60B3FF 0%, rgba(41, 90, 185, 0.76) 100%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.headerCategroyBoxCon span {
    padding-left: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-slider img {
    width: 100px;
}

.kategoryLinksLeft {
    position: relative;
}

.kategoryLinksLeftRight {
    min-width: 400px;
    background-color: red;
    position: absolute;
    left: 300px;
    top: 0;
    padding: 10px 0px;
}

.kategory {
    height: 800px !important;
    z-index: 99999978654678909;
}

.kategoryCon {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 60px;
}

.kategorymain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px !important;
    margin-right: -30px;

}

.kategorymain .categoryProducts {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 70px;
}

.categoryProductsName {
    width: 230px;
    height: 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border: none;
    color: #666363;
    background-color: #FFFFFF;
}

.categoryProductsName:hover {
    background: #5552521f;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}

.categoryProduct {
    position: absolute;
    top: 10px;
    left: 300px;
    width: 100%;
    display: flex;
    gap: 100px;
}

.categoryProductsName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

.categoryProductsName span {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}


.categoryProduct ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666363;
    padding: 5px 0px;
    cursor: pointer;
}

.categoryProduct ul li:hover {
    color: #000;
}

.categoryProduct ul span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 20px;
    padding-bottom: 10px;
}

.no {
    display: none;
}

.kategoryTitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}

.Titletext {
    color: gray;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.kategoryLists {}

.geymerlar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 900px;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 40px;
    height: 750px;
    margin-left: -30px;
}

.kategoryText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    gap: 3px;
    width: auto;
    margin-bottom: 10px;
}

.title1 {
    gap: 20px;
    width: 900px;
}

.title1 .kategoryText {
    gap: 5px;
    width: 202.76px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.title1 .kategoryText .kategoryTitle {
    width: 202.76px;
}

.kategoryProductsName {
    border: none;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: all 0.5s ease;
}

.kategoryProductsName:hover {
    background-color: #6663631b;
}

.hoverTitle{
    background-color: #7b7a7a1b;
    color: #ff201f;
    transition: all 0.5s ease;
}
.kategorymain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    width: 250px;
}

.productName {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.textLogin{
    color: #2b2b2b;
    font-weight: 600;
}