.korzinka {
    width: 1140px;
    margin: auto;
    margin-top: 30px;
}

.korHeader {
    width: 706px;
    margin-top: 40px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
}

.korHeader-Chil1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #3C3C3C;
}

.korHeader-Chil2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3C3C3C;
}

.korMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.korMainProducts {
    width: 706px;
    display: flex;
    flex-direction: column;
}

.korMainProductsHeader {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.korMainProductsHeader span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7D7D7D;
}

.korMainProductsHeaderRight {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.korProducts {
    display: flex;
    flex-direction: c;
}

.korProduct {
    width: 706px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.korProductInfo {
    display: flex;
    align-items: center;
}

.korProductInfo img {
    max-width: 140px;
}

.korProductInfo div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}

.korProductInfo div .korProductInfoName {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.korProductInfoCategory {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #E81D1C;
}

.korProductInfo div button {
    border: none;
    background: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #878787;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.korProductCount {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.korProductCount span {
    min-width: 35px;
    border: 1px solid #C1C1C1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.korProductCount button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    cursor: pointer;
}

.korProductPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: end;
}

.korProductPrice span {
    width: 100px;
}

.korMainPrice {
    display: flex;
    width: 100%;
}

.korMainPriceBox {
    width: 350px;
    height: 393px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 0px 14px;
}

.korMainPriceBoxTite {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 23px;
}

.korMainPriceBoxTiteInfo {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.korMainPriceBoxTitePrice {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.korMainPriceBoxPriceInfo {
    display: flex;
    flex-direction: column;
    gap: 11px;
    border-bottom: 1px solid #D9D9D9;
    margin-top: 23px;
    padding-bottom: 21px;
}

.korMainPriceBoxPriceInfo li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.korMainPriceBoxPriceInfoName {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.korMainPriceBoxPriceInfoPrice {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}

.korMainPriceBoxFooter {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.korMainPriceBoxFooterDastafka {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.korMainPriceBoxFooterDastafka-chil1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.korMainPriceBoxFooterDastafka-chil2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #888888;
}

.korMainPriceBoxFooterEnd {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.korMainPriceBoxFooterEnd button {
    width: 320px;
    height: 44px;
    background: #E81D1C;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.korMainPriceBoxFooterEnd span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.myorderProductMainProductConPrice {
    display: none;
}

@media screen and (max-width: 414px) and (min-width: 360px) {
    .korzinka {
        overflow-x: hidden;
        width: 100%;
        padding: 0px 10px;
    }

    .korMain {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .korHeader {
        width: 100%;
    }

    .korProducts {
        width: 100%;
    }

    .korProduct {
        width: 100%;
    }

    .korHeader-Chil1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #3C3C3C;
    }

    .korHeader-Chil2 {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #3C3C3C;
    }

    .korProductCount {
        display: none;
    }

    .korProductPrice {
        display: none;
    }

    .korMainProductsHeaderRight {
        display: none;
    }

    .korProductInfoName {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #3C3C3C;
    }

    .korMainPriceBox {
        width: 100%;
    }

    .korMainProductsHeader span {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #7D7D7D;
    }

    .korProductInfo {
        gap: 16px;
    }

    .korProductInfo img {
        max-width: 100px;
        max-height: 100px;
    }

    .korProductInfo div .korProductInfoName {
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
        color: #3C3C3C;
    }

    .korProductInfoCategory {
        display: none;
    }

    .myorderProductMainProductConPrice {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #474747;
    }

    .korProductInfo div {
        gap: 8px;
    }

    .korMainPriceBoxFooterEnd button {
        width: 100%;
    }

    .korMainPriceBoxTite span {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #3C3C3C;
    }

    .korMainPriceBoxPriceInfo li .korMainPriceBoxPriceInfoName {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #3C3C3C;
    }

    .korMainPriceBoxPriceInfoPrice {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;

        color: #888888;
    }
    .korMainPriceBox {
        margin-bottom: 10px;
    }
}