.moyZakazPustoy {
    width: 1140px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.moyZakazPustoyMain {
    display: flex;
    align-items: flex-start;
    gap: 130px;
}

.moyZakazPustoyMainTitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #3C3C3C;
}

@media screen and (max-width: 414px) and (min-width: 360px) {
    .moyZakazPustoy {
        width: 100%;
        padding: 0px 10px;
        gap: 28px;
    }

    .moyZakazPustoyMain {
        height: 100vh;
        align-items: center;
        flex-direction: column;
        gap: 52px;
    }

    .moyZakazPustoyMainTitle {
        width: 80%;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #3C3C3C;
    }
}