.myOrder {
    width: 1140px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.myOrderMain {
    display: flex;
    gap: 23px;
}

.myOrderMain table {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.myOrderMain table .tableChil2 {
    width: 847px;
    height: 56px;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(3, 0, 71, 0.09);
    border-radius: 5px;
    grid-row-gap: 10px;
    margin: 20px 0px;
    padding: 0px 25px;
    cursor: pointer;
}

.tableChil1 {
    width: 847px;
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: start;
    padding: 0px 25px;
    gap: 130px;
}

.tableChil1 td {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.tableChil2Code {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #2B3445;
}

.tableData {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2B3445;
}

.tableChil2Status {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #0F3460;
    background: #F3F6F9;
    border-radius: 15px;
    padding: 5px;
}

.myOrderProduct {
    width: 1140px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.myOrderProductMain {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.myOrderProductMainHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.myOrderProductMainKodData {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.myOrderProductMainKodDataChil1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #3C3C3C;
}

.myOrderProductMainKodDataChil2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3C3C3C;
}

.myOrderProductMainStatusChil1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.myOrderProductMainStatusChil2 {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #33D067;
    background-color: #E7F9ED;
    padding: 5px;
    border-radius: 15px;
}

.myOrderProductMainStatus {
    display: flex;
    gap: 19px
}

.myOrderProductMainProducts {
    display: flex;
    justify-content: space-between;
}

.myOrderProductMainProduct {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.myOrderProductMainProductHeader {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myOrderProductMainProductHeader span {
    padding-left: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.myorderProductMainProduct {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.myorderProductMainProductCon {
    display: flex;
    align-items: center;
    gap: 30px;
}

.myorderProductMainProductCon span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.myorderProductMainProduct img {
    max-width: 120px;
    max-height: 100px;
}

.shtuk {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.myOrderProductMainProductInfoTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.myOrderProductMainProductInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
}

.myOrderProductMainProductInfoBox {
    width: 387px;
    height: 342px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 84px;
    padding: 30px;
}

.myOrderProductMainProductInfoBox ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.myOrderProductMainProductInfoBox ul li {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.myOrderProductMainProductInfoBoxChil1 {
    width: 50%;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.myOrderProductMainProductInfoBoxChil2 {
    width: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6C6A6A;
}

.myOrderProductMainProductInfoBoxPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.myOrderProductMainProductInfoBoxPrice span {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.ProductsOrder {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.myorderProductMainProductConPrice {
    display: none;
}


@media screen and (max-width: 414px) and (min-width: 360px) {
    .myOrder {
        width: 100%;
        padding: 0px 10px;
    }

    .myOrderMain {
        flex-direction: column;
    }

    .tableChil1 {
        display: none;
    }

    .myOrderMain table .tableChil2 {
        width: 100%;
        justify-content: center;
        gap: 30px;
    }

    .tableChil2Code {
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        color: #2B3445;
    }

    .tableChil2Status {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #0F3460;
    }

    #tabelPrice {
        display: none;
    }

    .tableData {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #2B3445;
    }

    .myorderProductMainProductConPrice {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #474747;
    }

    .myOrderProductMainProductInfo {
        display: none;
    }

    .myOrderProduct {
        width: 100%;
        padding: 0px 10px;
    }

    .ProductsOrder {
        padding: 0px;
        width: 100%;
        gap: 10px;
    }

    .myorderProductMainProduct {
        width: 100%;
    }

    .myOrderProductMainStatusChil1 {
        display: none;
    }

    .myorderProductMainProductCon span {
        font-weight: 5 00;
        font-size: 12px;
        line-height: 15px;
        color: #3C3C3C;
    }

    .myorderProductMainProductInfos {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .myOrderProductMainProduct {
        width: 100%;
        justify-content: space-between;
        gap: 0px;
    }

    .myOrderProductMainProductHeader {
        width: 100%;
    }

    .myorderProductMainProductCon {
        gap: 0px;
    }

    .myorderProductMainProductCon img {
        max-width: 100px;
        max-height: 100px;
    }

    .myOrderProductMainProductHeader span {
        padding-left: 0px;
    }
}