 column;
    gap: 40px;
}

.orederMain {
    display: flex;
    justify-content: space-between;
}


.location {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.locationHeader {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #3C3C3C;
}

.locationBtns {
    display: flex;
    gap: 20px;
}

.locationBtns button {
    width: 196px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    border: 1px solid #BCBCBC;
    background: #FFFFFF;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
    cursor: pointer;
}

.locationSelects {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.selects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.oblas {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
}

.oblas label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #636363;
}

.oblas select {
    width: 270px;
    height: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #919191;
    padding-left: 10px;
    padding-right: 10px;
}

.oblas input {
    width: 270px;
    height: 50px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #BCBCBC;
    outline: none;
    border-radius: 3px;
}

.selectPay {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.selectPayBtns {
    display: flex;
    gap: 20px;
}

.selectPayBtns button {
    width: 171px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BCBCBC;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #515151;
}

.locationKontakt {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.locationKontaktInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.locationKontaktInputs-chil {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.locationKontaktInputs-chil label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #636363;
}

.locationKontaktInputs-chil input {
    width: 270px;
    height: 50px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #BCBCBC;
    outline: none;
    border-radius: 3px;
}

@media screen and (max-width:414px) and (min-width: 360px) {

    .oreder {
        width: 100%;
        padding: 0px 10px;
        overflow-x: hidden;
    }

    .orederMain {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .locationHeader {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #3C3C3C;
    }

    .locationBtns button {
        width: 168px;
        height: 40px;
    }
    .selects {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .oblas {
        width: 100%;
    }

    .oblas label {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    .oblas select {
        width: 158px;
        height: 40px;
    }

    .oblas input {
        width: 100%;
        height: 40px;
    }

    .selectPayBtns {
        flex-wrap: wrap;
    }
    .selectPayBtns button {
        width: 100%;
    }
    .payClick {
        width: 168px;
        height: 50px;
        grid-column: 1, 2;
        grid-row: 1, 2;
    }

    .payPayme {
        width: 168px;
        height: 50px;
        grid-column: 2, 3;
        grid-row: 1, 2;
    }

    .payNaxt {
        width: 355px;
        height: 50px;
        grid-column: 1, 3;
        grid-row: 2, 3;
    }
    .locationKontaktInputs {
        width: 100%;
        grid-gap: 10px;
    }

    .locationKontaktInputs-chil label {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    .locationKontaktInputs-chil input {
        width: 168px;
        height: 50px;
    }
    .korMainPriceBox {
        align-self: center;
    }
    .payNaxt {
        width: 100%;
    }
}